/* This is the bare minimum needed to create your own theme.
   In this example, all we're doing is overriding the default
   color scheme with our own. In the real world, you'd probably
   want to do more complex operations.
   thes is aqua green  */

#hd { background-color:#2A2A2A; }
.block .hd { background-color:#067AC5; color:#fff; border-bottom:10px solid #262626; }
.block .bd h2 { color:#187a7a; }
.block .bd h3 { 
		color:#187a7a; 
		font-size:14px; 
		}
.block .bd h3 a:link, .block .bd h3 a:visited {
	color:#FFFFFF;
}		
.spaces .hd { background-color:transparent; }
.spaces .hd ul li { background-color:#187a7a; }
a { color:#187a7a; }
html, body { background:#303030 url(../images/body_bg.png) repeat;color:#222; }
/* Body */
#bd { padding:1.5em; background: transparent; }
h2 { font-size:153.9%; margin-bottom:0.5em; }
h3 { font-size:153.9%; margin-bottom:0.5em; }
.block .bd { padding:1em; 
			 background-color:transparent;
			 color:#FFFFFF;
			  }
.ticker-wrapper.has-js {
	/*margin: 20px 0px 20px 0px; */
	padding: 0px;
	width: 97%;
	height: 18px;
	display: block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #363636;
	font-size: 0.75em;
}
/* Extend block with tabs */
.tabs .hd { padding:0; }
.tabs .hd ul { height:1%; }
.tabs .hd ul li { float:left; }
.tabs .hd ul li a { display:block; color:#fff; text-decoration:none; padding:0.5em 1em; }
.tabs .hd ul li a:hover { background-color:#FFFFFF; color:#000000; }
.tabs .hd ul li.active a { background-color:#262626 !important; color:#fff; text-decoration:none; } /* important! fixes IE cascade issue */
.tabs .hd h2, .tabs .hd h3 { position:absolute; margin-left:-5000px; } /* Hidden SEO Header if needed */
 .leftpart {
			color:green;
		}
