html, body {
  background-color: #f0f0ee;
  color: #222222;
}
#doc3 {
  margin: 0;
}
#hd {
  padding: 1.2em 1.5em 0;
  background-color: #7a1818;
}
h1 {
  font-size: 230%;
  color: #ffffff;
}
#navigation {
  margin-top: 1.5em;
  background-color: #262626;
}
#navigation li {
  float: left;
  display: inline;
}
#navigation li a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
#navigation li a:hover {
  text-decoration: none;
  color: green;
}
#primary-navigation li a {
  padding: 0.4em 1em;
  font-size: 116%;
  text-decoration: none;
}
#primary-navigation li.active a {
  background-color: #f0f0ee;
  color: #20c43f;
  text-decoration: none;
  font-family: Comic Sans MS;
  font-weight: bold;
  font-style: normal;
  text-transform: capitalize;
  text-align: center;
  line-height: 0em;
}
#primary-navigation li a:hover {
  text-decoration: none;
  color: green;
}
#user-navigation {
  float: right;
}
#user-navigation li a {
  padding: 0.5em 1em;
  font-size: 93%;
}
#bd {
  padding: 1.5em;
}
h2 {
  font-size: 153.9%;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 153.9%;
  margin-bottom: 0.5em;
}
.block {
  margin-bottom: 1.5em;
}
.block .hd {
  border-bottom: 10px solid #262626;
  padding: 0.7em 1em;
  background-color: #7a1818;
  color: #ffffff;
}
.block .hd h2, .block .hd h3 {
  font-size: 100%;
  margin-bottom: 0;
}
.block .bd {
  padding: 1em;
  background-color: #ffffff;
}
.block .bd h2 {
  color: #7a1818;
}
.block .bd h3 {
  color: #7a1818;
}
.tabs .hd {
  padding: 0;
}
.tabs .hd ul {
  height: 1%;
}
.tabs .hd ul li {
  float: left;
}
.tabs .hd ul li a {
  padding: 0.5em 1em;
  display: block;
  color: #ffffff;
  text-decoration: none;
}
.tabs .hd ul li a:hover {
  background-color: #470e0e;
  text-decoration: none;
}
.tabs .hd ul li.active a {
  background-color: #262626 ! important;
  color: #ffffff;
  text-decoration: none;
}
.tabs .hd h2, .tabs .hd h3 {
  position: absolute;
  margin-left: -5000px;
}
.spaces .hd {
  background-color: transparent;
}
.spaces .hd ul li {
  background-color: #7a1818;
  margin-right: 0.1em;
}
.rounded .hd, .rounded .hd ul li, .rounded .hd ul li a, .rounded #navigation, .rounded #navigation ul li, .rounded #navigation ul li a {
  -moz-border-radius-topright: 7px;
  -moz-border-radius-topleft: 7px;
}
.block hr {
  border:  none;
  background-color: #f0f0ee;
  color: #f0f0ee;
  height: 1px;
}
table {
  width: 100%;
  margin-bottom: 2em;
}
table td, table th {
  padding: 0.5em;
}
table thead {
  background-color: #262626;
  color: #ffffff;
  font-weight: bold;
}
table thead a {
  text-decoration: none;
  color: #ffffff;
}
table thead a:hover {
  text-decoration: underline;
}
table tbody a {
  text-decoration: underline;
}
ul.pager {
  text-align: right;
}
ul.pager li {
  display: inline;
}
ul.pager li a {
  border: 1px solid #000000;
  padding: 0.1em 0.3em;
  margin-right: 0.3em;
  text-decoration: none;
  color: #000000;
}
ul.pager li.active a, ul.pager li a:hover {
  background-color: #000000;
  color: #ffffff;
}
form label {
  font-weight: bold;
}
form label span {
  font-weight: normal;
  color: #ff0000;
  font-size: 85%;
}
form span.info {
  font-style: italic;
  color: #aaaaaa;
  font-size: 85%;
}
form .text {
  border: 1px solid #aaaaaa;
  padding: 0.3em;
  display: block;
  width: 99%;
}
form .column {
  width: 48%;
}
form .left {
  float: left;
}
form .right {
  float: right;
}
.alert {
  padding: 0.5em;
  text-align: center;
}
.error {
  border: 2px solid #ffbbbb;
  background-color: #ffdddd;
}
.warning {
  border: 2px solid #fffaaa;
  background-color: #ffffcc;
}
.notice {
  border: 2px solid #1fdf00;
  background-color: #bbffb6;
}
ol.list, ul.list, dl.list {
  margin-left: 2em;
  margin-bottom: 1em;
}
ol.list li {
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: outside;
}
ul.list li {
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
dl.list dd {
  margin-left: 1em;
}
ul.biglist {
  margin-bottom: 1em;
}
ul.biglist li {
  border-style: solid;
  border-color: #f0f0ee;
  border-width: 1px 0;
  margin-top: -1px;
}
ul.biglist li a {
  padding: 0.5em 0;
  display: block;
  text-decoration: none;
  color: #000000;
}
ul.biglist li a:hover {
  text-decoration: underline;
}
#ft {
  padding: 0.5em 1em;
  text-align: center;
  font-size: 85%;
  color: #262626;
}
p {
  margin-bottom: 1em;
}
a {
  color: #7a1818;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
abbr, acronym {
  border-bottom: 1px dotted #000000;
  cursor: help;
}
.small {
  font-size: 85%;
}
.gray {
  color: #999999;
}
.highlight {
  background-color: #ffffcc;
}
.clear {
  clear: both;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.button {
  border: 1px solid #1f1f1f;
  padding: 2px 6px;
  background-color: #474747;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  color: #dedede ! important;
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: #242424 1px 1px 0px;
}
.button:hover {
  background-color: #ededed;
  color: #000000 ! important;
  text-decoration: none;
  text-shadow: #ffffff 1px 1px 0px;
}
.button:active {
  position: relative;
  top: 1px;
}
.button a:link {
  font-family: Georgia,Palatino,Palatino Linotype,Times,Times New Roman,serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 1.6;
  font-size-adjust: none;
  font-stretch: normal;
  text-decoration: none;
}
.button a:active a:hover {
  text-decoration: none;
}
