<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html style="background:#2D3538">
<head>
    <title>#title#</title>#include#
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
</head>
<body>
#header#
                                <div class="cell panel" style="min-height:600px;width:85%;float:left;background:#2D3538;box-shadow:none;border:none;"> 

                                       #rowd#
                                                
<div style="float:right;margin-top:1.1%;"><a class="button" href="create_topic.php">Quick Thread</a></div> 
</div>                                                
</body>
<div style="clear:both;">
#footer#
</div>
