<!--
   create topic.html
   
   Copyright 2014 Jim Richardson <jim@noideersoftware.co.uk>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
	Update 20/7/14 19:56    
-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>#title#</title>#include#
    <script src="#path#/js/ckeditor.js"></script>
<!-- 
add the editor jquery here
<script type="text/javascript">
jQuery(document).ready(function(){

});
</script> 
-->

</head>
<body>
#header#
                           

                    <!-- Basic block -->
                   <div class="col colorborder" style= "float:left;width:85%;" >
                                      <div class="body">
                                        <div class="cell">
                                            <div class="col">
				<table>
				
<tr style="background:#2D3538;"><td width="50%">
                                         <form method="post" action="editpost.php" id="input1">

								<br style ="clear:both">
				<div style="margin-left:2%;"> <textarea  cols="30" rows="30" class="ckeditor" name="post_content" id= "editor1" name="editor1" />#edit_text#</textarea>
				<input type="hidden" name="id" value = "#id#" > 
				<input type="hidden" name="returnid" value = "#returnid#" > 
				#editor_opts#
				</div>
				
				<br /><br />
				
					<div style="padding-left:2%"> 
                                        <button class="button" type="submit" id="input1">Apply Changes</button> 
				                            <button class="button" onclick = "window.history.go(-1)">Go Back</button>
                                          </div> 


</td>

                                 </form>      
                                       
                                    </tr>
                                
                                                                          
                            </table>                    
                        </div>
                    </div>
                
                </div></div>
            
           
            #footer#
            
        </div>

    </div>
<script>
			
		$('#input1').submit(function() {
			title= $('#subject').val().length ;

			
if (title === 0)
{
message = 'Your thread needs a subject !';
alertify.alert(message);
			return false;
}

	title= $('#editor1').val().length ;
			
if (title < 15)
{
message = 'Your post is too short !<br>add some more text';
alertify.alert(message);
			return false;
}
	
		});
		
	</script>    
</body>
</html>
