<!--
   category.html
   
   Copyright 2014 Jim Richardson <jim@noideersoftware.co.uk>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
	Update 20/7/14 19:56    
-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>#title#</title>#include#
    <link rel="stylesheet" href="#path#/css/colorbox.css" />    
	    
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    
</head>
<body>
#header#
</div></div>
        <div id="col">
            <div id="col">
                
                    

                    <!-- Basic block -->
                    <div class="panel cell">
                          <div class="panel cell">
                          <div class="cell">
                          
                             				 
                                   
                                     <div style="float:left;"><label>#navi#</label></div>
                                     <div class="tabs" style="float:right;padding-right:0%;">
                                                    <ul class="nav">
                                                        <li><a href="#1">test</a></li>
                                                        <li><a href="#2">test2</a></li>
                                                    </ul>
                                                </div>      
                                      <div style="float:right;">#newthreads#</div>
                                       <div style="width:5%;clear:both;float:left;">&nbsp;</div>
                                        <div style="width:33.5%;float:left;">Thread</div>
                                        <div style="width:10.5%;float:left;"><center>Posts</center></div>
                                        <div style="width:20.5%;float:left;"><center>Views</center></div>
                                        <div style="width:20.5%;float:left;"><center>Last Post</center></div>
                                   
					                           <div class="tab-content" style="min-height:90%">
       
                                          #rowd#
                                
                                  
                        
                                        </div>
                       
                          <div style="clear:none;">
				<div style="float:left;width:6%;" class="cell"><span class="icon icon-32 icon-comment color-green float-left" ></span><label>Unread</label></div>
				<div style="float:left;width:6%;" class="cell"><span class="icon icon-32 icon-comment color-yellow float-left"></span><label>Read</label></div>
				<div style="float:left;width:6%;" class="cell"><span class="icon icon-32 icon-comment color-red float-left"></span><label>Locked</label></div> 
</div>
                    </div>
                
               
                
          
        <div>
            #footer#
            
        </div>

    </div>
</body>
</html>
