<html>
<head>
#include#
#msg#
 <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" media="all"  href="http://localhost/yoursite2//cascade/assets/css/cascade/development/build-full.css" />
        <link rel="stylesheet" type="text/css" media="all"  href="http://localhost/yoursite2/cascade/assets/css/site.css" />
        <!--[if lt IE 8]><link rel="stylesheet" href="assets/css/cascade/production/icons-ie7.min.css"><![endif]-->
        <!--[if lt IE 9]><script src="assets/js/shim/iehtmlshiv.js"></script><![endif]-->
              
       
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head> 
<body> 
#header#      
</body>
</html>