<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>CSS Test</title>
  <style type="text/css"></style>
  <link rel="stylesheet" href="../css/yuiapp.css" type="text/css">
  <link rel="stylesheet" href="../css/main.css" type="text/css">
</head>
<body>
<div style="width: 50%;" class="thead">
<table style="text-align: left; width: 100%;" class="tborder" border="1"
 cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: top;"><img
 style="width: 10%; height: 10%;" alt="test"
 src="../../../../home/jim/Pictures/res.png" align="right"><br>
hello </td>
      <td style="vertical-align: top;">World </td>
      <td style="vertical-align: top;">here </td>
      <td style="vertical-align: top;">there</td>
    </tr>
  </tbody>
</table>
</div>
</body>
</html>
