 <h6 style="text-align:center;">Site Statistics</h6>
                     
<table class="cell " style="background:transparent;color:#999;font-weight:bold;padding-bottom:6%;">
   <tr>
      <td>YourSite Version</td><td style="color:green;font-weight:bold;">#ver#</td>
   </tr>
   <tr>
     <td>Disk Space Used</td><td style="color:green;font-weight:bold;">#df#</td>
   </tr> 
   <tr>
     <td>Total Directories</td><td style="color:green;font-weight:bold;">#pt#</td>
   </tr> 
   <tr>
     <td>Total Files</td><td style="color:green;font-weight:bold;">#ds#</td>
   </tr>
   <tr>
    <td>Modules Installed</td><td style="color:green;font-weight:bold;">#mod#</td>
   </tr>   
   <tr>
    <td>PHP Version</td><td style="color:green;font-weight:bold;">#php#</td>
   </tr>    
   <tr>
    <td>SQL Version</td><td style="color:green;font-weight:bold;">#sql#</td>
   </tr> 
   <tr>
    <td>Server OS</td><td style="color:green;font-weight:bold;">#os#</td>
   </tr> 
   <tr>
    <td>Server Load</td><td style="color:green;font-weight:bold;">#load#</td>
   </tr>    
   <tr>
     <td>Database Size</td><td style="color:green;font-weight:bold;">#dbs#</td>
   </tr>    
   <tr>
    <td>Database Free Space</td><td style="color:green;font-weight:bold;">#dbs1#</td>
   </tr>    
   <tr>
    <td>Max Post Size</td><td style="color:green;font-weight:bold;">#postsize#</td>
   </tr>  
   <tr>
    <td>Max Upload Size</td><td style="color:green;font-weight:bold;">#upsize#</td>
   </tr>   
   <tr>
    <td>Users Online</td><td style="color:green;font-weight:bold;">#uol#</td>
   </tr>
   <tr>
    <td>Total Users</td><td style="color:green;font-weight:bold;">#total_users#</td>
   </tr>              
   <tr>
    <td>Total Content</td><td style="color:green;font-weight:bold;">#total_content#</td>
   </tr>           
</table>
