
<a href ="gotopid_#postid#"></a>                                            
                                                <div class="collapsible">
                                                           <span class="uncollapsed-only">
                                                            <div class="float-left " style="font-weight:bold;padding-left:1%;">
                                                   					Added #postdate#, #posttime# 
                                                   					
				                                                </div>
				                                                <span class="float-right" style="font-weight:bold;padding-right:1%;">##postid#</span>
				                                                </span>
                                                        
                                                    </div>
                                                   
                                                        
	<div style="width:100%">
		<hr style="clear:both;" />
	 		<div class="shop_text" id="pid_#postid#">
					#post_content#
			</div>
				<div class ="shop_img">images</div>
				<div style ="padding-top:4px;padding-left:20px;padding-right:20px;">
					<br style="clear:both;">	
					<hr style= "background-color:#000;width:100%;float:left;">			
				</div>
	</div>
	<div style="clear:both;padding:10px;">
		<br>
		<div style="float:left;">
			#home# 
	          #www#
			#iplogged#				
		</div>
		<div style="float:right;">
		   #edit#		
		   #delete# 
		   #quote#
		   #reply#
		   #buynow#
		

<!--<form  id="paypal" target="paypal" style="float:left;height:11px;width:84px;" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="add" value="1">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="jim.richardson06@btinternet.com">
<input type="hidden" name="item_name" value="single button">
<input type="hidden" name="item_number" value="#20">
<input type="hidden" name="amount" value="5.00">
<input type="hidden" name="currency_code" value="GBP">
<input type ="hidden" name="shipping" value="0.01">
<input type ="hidden" name="shipping2" value="4.00">
<input type ="hidden" name="return" value="https://kbracing.noideersoftware.co.uk/shop/topic2.php">
<input type ="hidden" name="notify_url" value="https://kbracing.noideersoftware.co.uk/ipn.php">
<input type ="hidden" name="cancel_return" value="https://kbracing.noideersoftware.co.uk/shop/topic2.php">
<input type="hidden" name="cbt" value="Return to KB Racing">
<input type ="hidden" name="rm" value="2">
<input type="hidden" name="handling" value="5.50">
<input type="hidden" name="custom" value="custom button text">
<input type="submit" class="button" value="Add to Cart">
</form> -->
		</div>
					
	

	</div>

<hr>

