<!--
   topic.html
   
   Copyright 2014 Jim Richardson <jim@noideersoftware.co.uk>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
	Update 27/7/14 19:56    
-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
	    <title>#title#</title>#include#
	    <script src="#path#/js/ckeditor.js"></script>
           
   	</head>
<body>
#header#</div></div></div>
        
            
                <div class="panel cell">
                    

                    <!-- Basic block -->
                    <div class="block">
                        
                        <div class="panel cell">
                            
			
				<thead>
                                     <div class="header background-black color-white">
                                     #navi#</div>  
                                    
                                </thead><table>
                                         <tr><td colspan="5"> #posts#</td></tr>
                                                 
					
						<tr><td colspan="5">
                                             <div class="cell">
                                              <div class="col">
                                                <div class="cell collapsible panel">
                                                    <div class="header collapse-trigger" style="background-color:#2D3538">
                                                        <span style="float:left" class="icon icon-collapse color-white"></span>
                                                        <a href="#" style="color:#fff">
                                                            <span class="collapsed-only"><div style="float:left">
					                        Reply #warn#</div></span>
				
                                        <span class="uncollapsed-only"><div style="float:left;">
					Reply #warn# </div></span>
				
</div>
                                           <div class="body collapse-section">
<div>     
                                           <!--<h2>Reply:</h2>#warn#<br />-->
<div class="panel cell" >
					<form method="post" action="reply.php?id=#topic_id#" id = "input">
						<textarea class="ckeditor" name="reply-content" id="editor1" ></textarea>
						 <script>CKEDITOR.replace( 'editor1', {uiColor: '#2D3538',removePlugins: 'elementspath',toolbar: [
					[ 'Bold', 'Italic','Underline', 'Strike', 'Subscript', 'Superscript', 'RemoveFormat', '-', 'NumberedList', 'BulletedList' ],
					[ 'FontSize', 'TextColor', 'Scayt' ], ['JustifyLeft', 'JustifyCenter', 'JustifyRight' ], [ 'Blockquote', 'Link', 'Image','Smiley','oembed'] 
				]
			});</script>  	
						<div id="reply1" style="padding:1%;float:left;">
                                                <input type="hidden" name="username" id="username" value="#warn#" />  
						                              <button type="submit" class="button" name="btnlogin" id="input1">Reply</button>
						
                  </form>
                  
                  </div>
                 <div style="float:left;padding-top:1%;margin-left:-0.5%;"><button class="button" onclick="Alert()" >Attach</button></div>
					</div>
					 
					</div>
					</td>
					</tr>	
                                        
					<script>
			        
						$('#input').submit(function() {
	                  alert ("function hit");					
							title= $('#username').val().length ;							
						if (title > 0)
								{
								message = 'You must signed in to reply';
								alertify.alert(message);
								return false;
								}
						var editor = CKEDITOR.instances.editor1;
						var html = editor.getData();
						title= html.length ;
						if (title < 15)
							{
								message = 'Your post is too short !<br>add some more text';
								alertify.alert(message);
								return false;
							}

							});
							
					</script>
<script>
function Alert() {
message = 'You hit attach';
								alertify.alert(message);
								 $.colorbox({width:"900px", height:"600px", iframe:true, href:"http://www.google.com"});
}
</script>


                            </table>                    
                        </div>
                    
                
                </div></div>
            
           

            #footer#
            
        </div>

    </div>

</body>
</html>
