<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>#title#</title>#include#
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
</head>
<body>
#header#
<div class="site-center">
                    
                    
                    
                </div>
            </div>
        </div>
       
        </div>
        
                            <div class="col">
                                <div class="cell panel">
                                    <div class="body">
                                        <div class="cell">
                                            <div class="col">
                                                <div class="cell tab-block top-nav">
                                                    <div class="tabs">
                                                        <ul class="nav">
                                                            #tab#
                                                        </ul>
                                                    </div> 
                                                   <div class="tab-content" style="min-height:600px">
                                                            #rowd#
                                                   </div>
</div>
            </div>
            </div></div></div>
            #footer#
        
        </div>

    </div>
</body>
</html>
         
