<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>#title#</title>#include#
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
    <link rel="stylesheet" href="css/yuiapp.css" type="text/css">
    <link id="theme" rel="stylesheet" href="css/aqua.css" type="text/css"> 
    <script src="js/1.js" type="text/javascript"></script>
    <script src="http://yui.yahooapis.com/3.0.0pr2/build/yui/yui-min.js" type="text/javascript"></script>
    <!--<script src="js/yuiapp.js" type="text/javascript"></script>-->  
    
 
<script>
    jQuery(document).ready(
            function() {
                setInterval(function() {
                                                     
                                    loadframe (a);
                                    loadframe (b);
                                    loadframe (c);
                                    loadframe (d1);
                                    loadframe (e1);
                                       
 
               }, 1200000);
            });
</script>
</head>
#header#

        <div id="bd">
            <div id="yui-main">
                <div class="yui-b"><div class="yui-g">
                                     

                    <!-- Basic block with tabs -->
                    <div class="block tabs">
                        <div class="hd">
                            <h2>Fake Header For SEO Purposes</h2>
                            <ul>
                                
                                <li class="active tab" abbr="tc1"><a href="#">Latest News</a></li>
                                <li class="tab" abbr="tc2"><a href="#">Server Status</a></li>
                                <li class ="tab" abbr="tc3"><a href="#">Team Speak</a></li>
                               <!--
                                <li class ="tab" abbr="tc4"><a href="#">Tab 4</a></li>
                                <li><a href="#">Tab 5</a></li>
                                <li><a href="#">Tab 6</a></li> -->
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="bd">
                             <div id="tc1" class="content">
                            <h3>YourSite</h3>
                            <p>This software is being developed to enable web site owners to manage a dynamic web site using a html editor and some special tags</p>
                            <p>YourSite is modular so you can create a new folder on your web site, and a default page will be created and added to your site menu. With this you can produce pages that suit you with your html editor.<br />NoIdeer Software have some default modules such as forums and a shop, which are easy to install to your web site</p> 
                            </div>
                             <div id="tc2" class="content">
                            <h3>Servers</h3>
                            <p></p>
				<table> <tr><td width="1%">
<iframe id="a" src="http://cache.www.gametracker.com/components/html0/?host=37.122.211.130:27015&bgColor=333333&fontColor=CCCCCC&titleBgColor=222222&titleColor=FF9900&borderColor=555555&linkColor=FFCC00&borderLinkColor=222222&showMap=1&currentPlayersHeight=100&showCurrPlayers=1&topPlayersHeight=100&showTopPlayers=1&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="536"></iframe></td>
<td width="1%">
<iframe id= "b" src="http://cache.www.gametracker.com/components/html0/?host=37.122.211.130:27016&bgColor=333333&fontColor=CCCCCC&titleBgColor=222222&titleColor=FF9900&borderColor=555555&linkColor=FFCC00&borderLinkColor=222222&showMap=1&currentPlayersHeight=100&showCurrPlayers=1&topPlayersHeight=100&showTopPlayers=1&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="536"></iframe></td>
<td width="1%">
<iframe id="c" src="http://cache.www.gametracker.com/components/html0/?host=37.122.211.130:25565&bgColor=333333&fontColor=CCCCCC&titleBgColor=222222&titleColor=FF9900&borderColor=555555&linkColor=FFCC00&borderLinkColor=222222&showMap=1&currentPlayersHeight=100&showCurrPlayers=1&topPlayersHeight=100&showTopPlayers=1&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="536"></iframe></td>
<td width="1%">
<iframe id= "d1" src="http://cache.www.gametracker.com/components/html0/?host=37.122.211.130:27017&bgColor=333333&fontColor=CCCCCC&titleBgColor=222222&titleColor=FF9900&borderColor=555555&linkColor=FFCC00&borderLinkColor=222222&showMap=1&currentPlayersHeight=100&showCurrPlayers=1&topPlayersHeight=100&showTopPlayers=1&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="536"></iframe></td>
<td width="1%">
<iframe id = "e1" src="http://cache.www.gametracker.com/components/html0/?host=37.122.211.130:27019&bgColor=333333&fontColor=CCCCCC&titleBgColor=222222&titleColor=FF9900&borderColor=555555&linkColor=FFCC00&borderLinkColor=222222&showMap=1&currentPlayersHeight=100&showCurrPlayers=1&topPlayersHeight=100&showTopPlayers=1&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="536"></iframe></td>
</tr></table>
                            
                            </div>
                             <div id="tc3" class="content">
                            <h3>Team Speak</h3>
                            <p> We have a Teamspeak server search for Lightsound Studios in your Teamspeak client, however those nice people at NoIdeer Software are busy<br>
				intergrating CometChat for us. Comet allows chatrooms, private chat, voice chatrooms, private voice chat, video chatrooms and video private chat<br>
				with no need to have a chat client ... it's all web based. CometChat also has a few single player and a few 'one on one' games if you get bored !    
			   </p>
                            
                            </div>
                        </div>
                    </div>

                                     

                    
                   
                   
                </div></div>
            </div>
            <div id="sidebar" class="yui-b">

                <!-- Sidebar block (same markup as basic block) -->
              
                
                <div class="block">
                    <div class="hd">
                       <h3> Side Boxes</h3> 
                    </div>
                    <div class="bd">
                    Side boxes will have a side box manager and not just be HTML, you will be able to add scripts or not show any side boxes
                    </div>
                </div>

<div class="block">
                    <div class="hd">
                       <h3> Online Users</h3> 
                    </div>
                    <div class="bd">
                    we have #vari# online 
                    </div>
                </div>
                
                
            </div>
        </div>

        <div id="ft">
            <p class="inner">Copyright &copy; 2014 NoIdeer Software </p>
            
        </div>

    </div>
</body>
</html>
