<!--ips template -->
<head>
<link rel="stylesheet" type="text/css" media="all" href="#path#/themes/dark/css/build-full.css">
<link rel="stylesheet" type="text/css" media="all" href="#path#/themes/dark/css/site.css">
</head>
<body style="background-color:#fff;background-image:none;">
<div class="header collapse-trigger">
	<div style="float:left;width:100%;padding:2%;color:#999;"><strong>Information for #ip#</strong></div>
	<div style="padding:4%;clear:both;color:#999;"> 
	<div style="float:left;clear:both;font-weight:bold;">Host Name: </div>
	<div style="float:left;margin-left:1%;font-weight:bold;">#hostname#</div>
	<div style="float:left;clear:both;font-weight:bold;">Host Location: </div>
	<div style="float:left;margin-left:1%;font-weight:bold;">#hostlocation#</div>
	<div style="float:left;clear:both;font-weight:bold;">Users Registered (#ipusers#)</div>
	<div style="float:left;margin-left:1%;font-weight:bold;">#test#</div>
	<div style="float:left;clear:both;font-weight:bold;">Content from this IP: </div>
	<div style="float:left;margin-left:1%;font-weight:bold;">#posts#</div>
	
	</div>
	</div>	
</body>
