 
    <body>
            	<div class="site-header" style="box-shadow:none;">
              
                	<img class="main-logo" style="max-width:30%;" src = "#path#/images/logo.png" />
                	 <!-- <div id="clock" class="clock">00:00:00</div> -->	 
                	 <div class="address-block" style="font-size:12px;">14A Cowleigh Road, Malvern WR14 1QD<br>01684 568555 </div>
					</div>
					
					<div style="float:left;min-height:100%;width:100%;margin-top:3px;box-shadow:none;" class="site-header"> 
                           <ul class="nav" id="menu" style="width:100%;font-size:12px;">
                              <li id= "home" class="active "><a href="#path#/index.php">Home</a></li>
                              <li id ="service"><a href="#path#/service/index.php">Service</a></li>
                              <li><a href="#path#/shop/index.php">Shop</a></li>                                
                           </ul> 
                                   
                                </div>
				