<html>
	<body style="color:#999;background:#2D3538;width:700;font-weight:bold;">
		<img src = "/images/logo.png" alt ="#sitename#" style="max-width:442px" /> <br style="clear:both" />
		<span style="font-size:18px;clear:left;">Your KB Racing Order Confirmation</span>
		<hr style="clear:both;color:#999;background-color:#999">
		<div style="width:100%;">Hi #firstname# thank you for your order,currently the fat old man is nicking the bits as we speak ... so he may get arrested and you wont get the fucking stuff
		<br>
		
		</div> 
		<div style="padding-top:20px;">
			<div style = "float:left;clear:left;border:1px solid;width:35%;padding:5px;text-align:center;">
			   <div style="width: 102%;background: #E2D700;margin-top:-5px;padding:3px;margin-left:-2%;font-weight:bold;color:#000;">Deliver To</div>
				<table style="width:100%;">
					<tr><td style="text-align:center;">d1</td></tr>
					<tr><td>#deliver_to#</td></tr>
				</table> 			
			</div> 
			<div style = "float:right;border:1px solid;width:55%;padding:5px;text-align:center;">
				 <div style="width: 101.5%;background: #E2D700;margin-top:-5px;padding:3px;margin-left:-1.5%;font-weight:bold;color:#000;">Order Items</div>
				 <table style="width:100%;">
					<tr><td style="text-align:center;">d2</td></tr>
					<tr><td>$postuser<br/>$_POST['address_street']<br/>$_POST['address_city']<br/>$_POST['address_state']<br/>$_POST['address_zip']</td></tr>
				</table> 			
			</div>
		</div> 
	</body>

</html>