<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>#title#</title>#include#
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
</head>
<body>
#header#
<div class="site-center">
                    
                    
                    
                </div>
            </div>
        </div>
       
        </div>
        
                            <div class="col">
                                <div class="cell panel">
                                    <div class="body">
                                        <div class="cell">
                                            <div class="col">
              
 
        
 
                                <div class="cell panel" style="min-height:600px"> 
<!-- above before process -->
                                 <!--   <div class="body"> -->
                                       #rowd#
<!-- after process -->

                                                 </div></div>
<div style="float:left;width:6%" class="cell"><span class="icon icon-32 icon-comment color-green float-left" ></span><label>Unread</label></div>
<div style="float:left;width:6%" class="cell"><span class="icon icon-32 icon-comment color-yellow float-left"></span><label>Read</label></div>
<div style="float:left;width:6%" class="cell"><span class="icon icon-32 icon-comment color-red float-left"></span><label>Locked</label></div> 
<div style="float:right;margin-top:1.1%"><a class="button" href="create_topic.php">Quick Thread</a></div> 
                                                
</div></div></div>
#footer#
