 
    <body>
            	<div class="site-header" style="box-shadow:none;">
               	 
                	<img style ="padding-left:2%;max-width:20%;float:left;" src = "#path#/images/logo.png" />
					</div>
					
					<div style="float:left;min-height:100%;width:10%;background:#2D3538;box-shadow: none;margin-top:3px;" class="site-header"> 
                           <ul class="nav" id="menu" style="width:20%;padding:20%;">
                                    <li id= "home" ><a href="#path#/index.php">Home</a></li>
                                    <li id = "forum" class="active " ><a href="#path#/forum/index.php">Community</a></li>
                                    #login#
                                   <!-- <li><a href="#path#/shop">Shop</a></li>
                                    <li><a href="#path#/downloads">Downloads</a></li> 
                                    <li><a href="#path#/support">Help</a></li> -->
                                </ul></div>
				