
<!-- above before process -->
                                   
                                        <div class="cell">
                                            <div class="col">
                                                <div class="cell collapsible panel">
                                                    <div class="header collapse-trigger" style="background-color:#2D3538">
                                                        <span class="icon icon-collapse color-white"></span>
                                                        <a href="#" style="color:#fff">
                                                            <span class="collapsed-only">#cat_name#</span>
                                                            <span class="uncollapsed-only">#cat_name#</span>
                                                        </a>
                                                    </div>
                                                    <div class="body collapse-section">
                                                        <div class="cell">
                                                            #rows#
                                                        </div>
                                                    </div>
                                                   </div></div></div>

                                           
<!-- after process -->
