<!-- do we use an odd file extension -->
			
			</div>
			
		
			<div id="copyright" style= "padding-left:2%;float:left">
				
Powered By <a href="http://yoursite.noideersoftware.co.uk/" target="_blank">Your Site</a>, &copy; #start_year# - #copy_year# <a href="http://noideersoftware.co.uk/" target="_blank">NoIdeer Software</a>.<br />
				

<br class="clear" />

		
		<br/>
		</div>
<div style="float:right;padding-right:2%">#adminstats#</div>
      <br />
