<!DOCTYPE html>
<html>
<head>
<title>#title#</title>
        #include# 
<link rel="stylesheet" href="#path#/css/colorbox.css" />
 <script  type="text/javascript" src="#path#/js/jssor.js"></script>
 <script  type="text/javascript" src="#path#/js/jssor.slider.js"></script>  
  
</head>
    #header#
        #msg#
                        
                            <div class="col" style="float:left;width:90%;">
                                <div class="cell panel" style="box-shadow:none;border:none;background:#2D3538;" >
                                    <div class="cell tab-block top-nav" >
                                                    <div class="tabs">
                                                        <ul class="nav">
                                                        #tabs#
                                                        </ul>
                                                    </div>
                                                    <div class="tab-content colorborder" style="min-height:600px;background:#2D3538;color:#999;">
                                                          #tab_content#
                                                    </div>
        						</div>
        
        					  </div>	
						#footer#
						</div>
<script>
      $(document).ready(
            function() {
                $(".iframe").colorbox({iframe:true, width:"85%", height:"85%", overlayClose: false, escKey:false});
               
            });
</script>
<script type="text/javascript" src="#path#/js/slider.js"></script>

    </body>
</html>
