<head>
<title>#title#</title>
#include#
<script src="#path#/js/ckeditor.js"></script>
<link href="#path#/css/jquery.datepick.css" rel="stylesheet">
<script src="#path#/js/jquery.plugin.js"></script>
<script src="#path#/js/jquery.datepick.js"></script>
<script src="#path#/js/editor.js" /></script>  
<link rel="stylesheet" href="#path#/css/colorbox.css" />
<script>
$(function ($) {
        $('#inlineDatepicker').datepick({onSelect: showDate, yearRange: '-100:-10', defaultDate: '#dob#',commandsAsDateFormat: true, 
         prevText: '< M', todayText: '', nextText: 'M >' });
});

function showDate(date) {
	     var d = new Date(date); 
        var dob = d.getTime()/1000.0;
        $('#dob').val(dob);
       
};
 $(document).ready(
            function() {
                $(".iframe").colorbox({iframe:true, width:"60%", height:"60%", overlayClose: false, escKey:false});
                $(".inline").colorbox({inline:true, width:"50%"});
               //alert ('doc ready ! set the options ?');
		var priv = "#priv#";	
		var sex = "#sex#";
		var tabs = "#tab#";
		
		$('#tabs').prop('checked', tabs);
 		 $("#priv option").each(function (a, b) {
               if ($(this).val() == priv ) $(this).attr("selected", "selected");
        });          
        $("#sex option").each(function (a, b) {
               if ($(this).val() == sex ) $(this).attr("selected", "selected");
        }); 
            
            }
            
            );
            
</script>             

</script>
</head>
#header#
</div></div> 
 <div class="col">
                                <div class="cell panel">
                                    <div class="body">
                                        <div class="cell">
                                            <div class="col">
                                                <div class="cell tab-block top-nav">
                                                    <div class="tabs">
                                                        <ul class="nav">
                                                            <li class="active"><a href="#profile">#nav_profile#</a></li>
                                                            <li><a href="#forum">#nav_forum#</a></li>
                                                            <li><a href="#comms">Communication</a></li> 
                                                            <li><a href="#pms">#nav_pm#</a></li>
                                                        </ul>
                                                    </div>

<div class="tab-content" style="min-height:500px">
<div class="cell" id="profile">
                            
                              <form action="user.php" method="post">

<input type="hidden" name="nid" value="#nid#" id="tx" />
<input type="hidden" id="dob" value = #dobv# name="dob"></input>
<div class="col" style="width:50%;">

<div class="col width-4of4">
		<div class="cell" style="float:left;"><label style="min-width:74px">#nick_name#</label><input type ="text" name="nick" class="text" value="#nick#"></div>
		<div class= "cell" style="float:left;"><label>if filled in all your posts will assume this name</label></div>
	
 	<div class="cell" style="float:left;clear:both;"><label style="min-width:74px">#profile_gender#</label><select style="width:158px;" id ="sex" name="sex" class="text" value="#sex#">
 	    <option value="0">Undisclosed</option>
 	     <option value="1">Male</option>
          <option value ="2">Female</option>
          <option value="3">Other</option>
          </select>
 	</div>
 	
 	<div class="cell" style="float:left;clear:both;"><label style="min-width:74px">#profile_location#</label><input type ="text" name="loc" class="text" value="#loc#"></div>
 	<div class= "cell" style="float:left;"><label>Where in the world do you live ?</label></div>
	
	<div class="cell" style="float:left;clear:both;"><label style="min-width:74px">Home Page</label><input type ="text" size="60" name="url" class="text" value="#url#"></div>
	<div class="cell" style="float:left;clear:both;"><label style="min-width:74px">Bio</label><textarea  cols="62" rows="5" name="bio" class="text" value="#bio#">#bio#</textarea></div>
	<div class= "cell" style="float:left;width:21%;"><label>#profile_bio#</label></div>
</div>

</div>
<div style="float:left;width:50%"><div class="cell" style="float:left;width:15%;"><label>#birthday#</label></div> 
<div id="inlineDatepicker" style="width:80%;float:left;margin-top:1%;"></div>

       <div class="cell" style="clear:left;float:left;text-align:center;width:100%;"></div>  

<div class ="col width-4of4">
	<div class="cell" style="float:left;"><label style="min-width:68px">#birthdayprivacy#</label></div>
         <div class="cell" style="float:left;"><select id="priv" style="width:100%" name="b_priv">
          <option value="0">Hide</option>
          <option value ="1">Age Only</option>
          <option value="2">Day/Month</option>
          <option value="3">Full</option> 
         </select>
        </div>
          
       <div class="cell" style="float:left;"> <label>Set how your date of birth is displayed</label></div> 
</div>
<br style="clear:both;">
<hr style ="clear:both;">
<div>
<h3 style ="text-align:center;">Current Alerts</h3>
You have no current unread private messages <br>
There are 20 posts you have not read
</div>
</div>
</div>
<div id="forum" class="cell hidden-tab">
<div style="float:left;width:50%;">
      	
         <div class="cell" style="float:left;clear:both;"><label style="min-width:120px">Posts Per Page</label></div>
        <div class="cell" style="float:left;"><input type="text"  name="posts" value="#posts#" ></div>
        <div class="cell" style="float:left;clear:both;margin-top:0%;"><label style="min-width:120px">Threads Per Page</label></div>
        <div class="cell" style="float:left;margin-top:0%;"><input type="text"  name = "threads" value="#threads#" ></div>
        <div class="cell" style="float:left;clear:both;width:100%;margin-top:-1%;">
         <label style="min-width:16.5%">Show Avatars</label>
         <input type="checkbox" style="margin-top:0px;" name="show_ava" value="True" id="poo"><br>
         <label style="min-width:16.5%">Show Signatures</label>
         <input type="checkbox" name="usig" value="True" id="usig"><br>
         <label style="min-width:16.5%">Show Forums in tabs</label>
         <input type="checkbox" name="tabs" value="True" id="tabs"></div>
</div>
<div style="float:left;width:50%;">         
         <div class="cell" style="float:left;margin-top:10px;"><label style="min-width:120px">Signature</label></div>
        <div class="cell" style="float:left;margin-top:10px;"><textarea cols="40" class="ckeditor" name="sig" id="editor1" data-sample="1" >#sig#</textarea>#editor_opts#</div>
        <div class="cell" style="float:left;clear:both;margin-top:10px;"><label style="min-width:120px">Avatar</label></div>
        <div class="cell" style="float:left;margin-top:1%;"><a onclick="closebox()"><img src ="#avatar#" style ="max-width:150px;max-height:150px;border-radius: 5px;" id = "avatardisp"></a>
        <input type="hidden" value="#avatar#" name="avatar" id="avatar" />
        </div>
        <div style="float:left;margin-top:2%;">Click the Avatar to edit it</div>
</div>



</div>
<div id="comms" class="cell hidden-tab" style="width:50%;">
<div class="cell" style="float:left;clear:both;"><label style="min-width:120px">#profile_emailaddress#</label></div>
        <div class="cell" style="float:left;width:70%"><input style="width:50%;" type="text"  name="email" value="#myemail#" ></div>
        <div class="cell" style="float:left;clear:both;"><label style="min-width:120px">#profile_steam#</label></div>
        <div class="cell" style="float:left;width:70%"><input style="width:50%;" type="text"  name="steamid" value="#steamid#" ></div>
        <div class="cell" style="float:left;clear:both;"><label style="min-width:120px">#profile_skype#</label></div>
        <div class="cell" style="float:left;width:70%"><input style="width:50%;" type="text"  name="skypeid" value="#skypeid#" ></div>
        <!--
        <div class="cell" style="float:left;clear:both;"><label style="min-width:120px">Facebook ID</label></div>
        <div class="cell" style="float:left;width:70%"><input style="width:50%;" type="text"  name="facebook" value="#facebook#" ></div>
        <div class="cell" style="float:left;clear:both;"><label style="min-width:120px">Mobile</label></div>
        <div class="cell" style="float:left;width:70%"><input style="width:50%;" type="text"  name="mobile" value="#mobile#" ></div> -->
</div>
<div id="pms" class="cell hidden-tab">PM system is not set up!</div>
</div>

</div>


 <div class="col">
 <div class="col width-fill"></div>
<div class="col width-fill">
<div class="cell" style="text-align:center" >
<input type="hidden" name="action" value="do_options" />
<button type="submit" class="button" id="regsubmit">#update_options#</button>
</div></div> 
</form> 
<div style='display:none'>
			<div id='inline_content' style='padding:10px; background:#fff;'>
			<p style="text-align:center;"><strong>Change Your Avatar</strong></p>
			<p style="text-align:left;">Current Avatar</p>
			<!-- <p>  <img id= "imgtest" src ="#avatar#" height="64" width="64" ></p> -->
			<p style="clear:both;padding-top:6px;">Paste/type the new avatar url below</p>
			<!-- <div style="text-align:center"><input id="newimg" type="url" size = "128" value="#avatar#"></div> -->
			<p style="clear:both;padding-top:6px;text-align:center;"><strong>Avatar images should be as close to 'square' as they can be. Use the test button to check how your new avatar will look</strong></p>
			<div style="text-align:center;margin-left:41%;">
			<a class="button" style ="position:relative;" onclick = "test_img()">Test</a>
		   <a class="button" style ="position:relative;" onclick="updateimg()">Update</a>
		   <a class="button" style ="position:relative;" onclick="closebox()">test</a>
		   </div>
			</div>
			<script>
function test_img() 
{
//alert ($("#imgtest").attr("src"));
//alert($("#newimg").val());
//$("#my_image").attr("src","second.jpg");
$("#imgtest").attr("src", $("#newimg").val());
}
function updateimg ()
{
$("#avatar").val($("#newimg").val());
$("#imgtest").attr("src", $("#newimg").val());
$("#avatardisp").attr("src", $("#newimg").val());
}
function myFunction()
{
alert("trigger");
}
function closebox() {
//event.preventDefault();
var current = $("#avatar").val();
var message = '<p style="text-align:center;"><strong>Change Your Avatar</strong></p><p style="text-align:left;">Current Avatar</p>';
 message += '<p>  <img id= "imgtest" src ="'+$("#avatar").val()+'" style ="max-width:150px;max-height:150px;border-radius: 5px;"></p>';
 message += '<p style="clear:both;padding-top:6px;text-align:center;">Paste/type the new avatar url below</p>';
 message += '<div style="text-align:center"><input id="newimg" type="url" size = "128" value="'+current+'" oninput ="test_img()"></div>';
 message += '<div style="clear:both;padding-top:6px;text-align:center;"><strong>Avatar images should be as close to \'square\' as they can be.</strong></div>';

	alertify.set({
				labels : {
					ok     : "Save",
					cancel : "Cancel"
				},
				delay : 5000,
				buttonReverse : true,
				buttonFocus   : "ok"
			});
		
                   
	alertify.confirm(message, function(e) {
		if (e) {
           
                //alert ("loaded " + $("#newimg").val());
                if ($("#newimg").val() ==='' ) {
                var myDir = $(location).attr('href');
                var myDir = myDir.substring( 0, myDir.lastIndexOf( "/" ) + 1);
                alert(myDir);
                var url = myDir+'images/default_avatar.png';
                //var url =  $(location).attr('protocol')+'//'+$(location).attr('hostname')
                $("#newimg").val(url);
                //alert($("#newimg").val());
                updateimg();
                }
                
                updateimg();
		                   
            alertify.success("You've updated your avatar.<br>this will be applied when you update your options");
            
        } 
        
        else {
            // user clicked "cancel"
            //alertify.error("No Change");
        }
								}, 'avatar');
	}		
								
</script>
		</div>
</div>

#footer#

