<!--
   forum_row.html mk2
   
   Copyright 2014 Jim Richardson <jim@noideersoftware.co.uk>
   
-->
<div class="trow1">
<tr style="border-bottom:1px solid black"> 
<td width="1"><span class="icon icon-32 icon-comment color-yellow float-left"></span></td> 
<td width="30%"><h3><a onclick = window.location.assign("http://localhost/yoursite/forum/category.php?id=#cat_id#")>#cat_name#</a></h3><div style="margin-left:2%">#cat_description#</div></td>
<td><center>#threads# topics</center></td>
<td><center>#posts# posts</center></td><td><center>#last_user#</center></td>
</tr>
</div>
