<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>#title#</title>#include#
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
    <link rel="stylesheet" href="css/yuiapp.css" type="text/css">
    <link id="theme" rel="stylesheet" href="css/aqua.css" type="text/css"> 
    <script src="http://yui.yahooapis.com/3.0.0pr2/build/yui/yui-min.js" type="text/javascript"></script>
    <script src="js/yuiapp.js" type="text/javascript"></script>
#reload#
</head>
#header#

        <div id="bd">
            <div id="yui-main">
                <div class="yui-b"><div class="yui-g">
                                     

                    <!-- Basic block with tabs -->
                    <div class="block tabs">
                        <div class="hd">
                            <h2>Fake Header For SEO Purposes</h2>
                            <ul>
                                
                                <li class="active tab" abbr="tc1"><a href="#">NoIdeer Software</a></li>
                                <li class="tab" abbr="tc2"><a href="#">Code Ideas</a></li>
                                <li class ="tab" abbr="tc3"><a href="#">Development</a></li>
                                <li class ="tab" abbr="tc4"><a href="#">YourSite</a></li>
				<!--
                                <li><a href="#">Tab 5</a></li>
                                <li><a href="#">Tab 6</a></li> -->
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="bd">
                             <div id="tc1" class="content">
                            <h3>NoIdeer Software</h3>
                            <p>NoIdeer Software released it's first app in 1982 which was written in GW Basic and Tru Basic (the tru basic version followed in 1985), the idea of this app was to run in the <a style color:red" href="http://en.wikipedia.org/wiki/DESQview">DESQview enviroment</a> this allowed the app to multi task with the next app that came from NoIdeer.<br>As time progressed NoIdeer moved it's coding language to <a style="color:purple" href="http://en.wikipedia.org/wiki/Turbo_Basic">Turbo Basic</a>, but still using DESQview to multitask between modules of the app. During this period we wrote some add ons for the Merlin bbs system, written by Mark Lewis, which extended the forum and administration capabilities of Merlin.</p>
<p>
In the early/mid 1990's NoIdeer 'moved on' to visual basic and continued to maintain the Merlin extensions with out the need for DESQview (as Microsoft had developed the 'windows'      <img src="http://www.sherv.net/cm/emoticons/sleep/sleeping-smiley-face.gif" />enviroment) and at the same time started to develop two core programes, the first being a <a style ="color:light-green" href="http://en.wikipedia.org/wiki/Telephony_Application_Programming_Interface"> TAPI</a> application which (in it's day) simplified booking appointments to see a doctor and the second was a full EPOS system for small retailers that used CASIO cash registers (source code for both apps are availble if someone wants to develop these old apps to the present day, but will need converting from Microsoft Visual Basic 6)  </p>
<p>In the 2000's NoIdeer Software produced 4 (minor) games for the windows desktop platform, using Visual Basic 6 as a coding language and then in 2011, moved into the 'online' application area using 'server side' languages as it's default modal. We did look at using <a href="http://mybb.com">Mybb</a> as an application frame work, however after a period of time testing with mybb software it did not fit the requirements of NoIdeer and we developed our own. Our current product 'YourSite' has taken some ideas from mybb, however the vison is different, Yoursite is going to be a modular software platform where each section of a website has it's own settings and enviroment with one difference for users one login will access all modules</p> 
                            
                            </div>
                             <div id="tc2" class="content">
                            <h3>Code Ideas</h3>
                            <p>YourSite uses two methods of producing variables for your templates 
				<ul>
					<li>Static - these variables are added to a simple text file on your web server</li>
					<li>Dynamic - these variables are created 'on the fly' by the module, there will be instruction (soon) on how to create a module</li>
					<li>This allows the web site owner to add customised content to the site users</li> 
                                        <li>currently YourSite has no admin contol panel so all edits are through text files on the web server</li> 
</ul>
 </p>
                            
                            </div>
                             <div id="tc3" class="content">
                            <h3>Development</h3>
                            <p>So far development has been contained to template rendering, user creation/log in, and session tracking. If someone wishes to help by creating a modulue
				please contact me.
			   </p>
                            <p>The forum module is near completion and, to date, and is not 'top heavy' with features .. it does what it says on the tin !</p>
			    <p>Above said the forum software is very basic, if you wish to add a request for a built in function <a style="color:green" href ="http://noideersoftware.co.uk/forum/category.php?id=4">Click here</a> but remember most things can be done via html and jquery so it may be a better to request 'variables' to be made availible to the page and you can style them using a html/css editor.  	 
                            </div>
                        </div>
                    </div>

                                     

                    
                   
                   
                </div></div>
            </div>
            <div id="sidebar" class="yui-b">

                <!-- Sidebar block (same markup as basic block) -->
              
                
                <div class="block">
                    <div class="hd">
                       <h3> Side Boxes</h3> 
                    </div>
                    <div class="bd">
                    Side boxes will have a side box manager and not just be HTML, you will be able to add scripts or not show any side boxes
                    </div>
                </div>

<div class="block">
                    <div class="hd">
                       <h3> Online Users</h3> 
                    </div>
                    <div class="bd">
                    we have #vari# online 
                    </div>
                </div>
                
                
            </div>
        </div>

        <div id="ft">
            <p class="inner">Copyright &copy; 2014 NoIdeer Software </p>
            
        </div>

    </div>
</body>
</html>
