
<!--
   topic.html
   
   Copyright 2014 Jim Richardson <jim@noideersoftware.co.uk>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
	Update 27/7/14 19:56    
-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
	    <title>Thread</title><meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
    <link rel="stylesheet" href="http://localhost/yoursite/css/yuiapp.css" type="text/css">
	<link rel="stylesheet" href="http://localhost/yoursite/css/alertify.core.css" />
<link rel="stylesheet" href="http://localhost/yoursite/css/alertify.default.css" id="toggleCSS" />
  <link id="theme" rel="stylesheet" href="http://localhost/yoursite/css/aqua.css" type="text/css"> 
    <link id="theme" rel="stylesheet" href="http://localhost/yoursite/css/main.css" type="text/css">
    <script src="http://yui.yahooapis.com/3.0.0pr2/build/yui/yui-min.js" type="text/javascript"></script>
    <script src="http://localhost/yoursite/js/yuiapp.js" type="text/javascript"></script>
    <script src="http://localhost/yoursite/js/alertify.min.js" type="text/javascript"></script>	
<!-- <script  type="text/javascript" src="http://localhost/yoursite/jquery.ui.datepicker.js"></script> -->
<!-- 
<script src="http://localhost/yoursite/jscripts/jquery.colorbox.js"></script>
-->
<script type="text/javascript">
	jQuery.noConflict();
</script>
<script type="text/javascript">
	jQuery(document).ready(function($){
	var currentState = history.state;
		jQuery('.tab').click(function(){
			jQuery('.active').removeClass('active');
			jQuery(this).addClass('active');
			jQuery('.content').slideUp();
			var catshow = jQuery(this).attr('abbr');
			jQuery('#'+ catshow).slideDown();
			alert(currentstate);
			document.attr('href').replace(/\#*/g, "");
		});
	});
</script>
<style type="text/css">
#tc2, #tc3, #tc4{
	display: none;
}

.tab {
       cursor:pointer;
}  
</style>


	    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
	    <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
	    <link rel="stylesheet" href="http://localhost/yoursite/css/yuiapp.css" type="text/css">
	    <link rel="stylesheet" href="http://localhost/yoursite/css/main.css" type="text/css">	
	    <link id="theme" rel="stylesheet" href="http://localhost/yoursite/css/aqua.css" type="text/css"> 
	    <script src="http://yui.yahooapis.com/3.0.0pr2/build/yui/yui-min.js" type="text/javascript"></script>
	    <script src="http://localhost/yoursite/js/ckeditor.js"></script>
           
   	</head>
<body>
<body class="rounded">
    <div id="doc3" class="yui-t6">
<div id="hd"><br />
<div style="float:right;">Thu 21 August 2014  13:04:41</div>
            <h1><a href="http://localhost/yoursite/"><img src="http://localhost/yoursite/images/fixedlogo.png"></a></h1>
            <div id="navigation">
                <ul id="primary-navigation">
                    <li><a href="http://localhost/yoursite">Home</a></li>
                    <li class="active"><a href="http://localhost/yoursite/forum">Forum</a></li>
                   <!-- <li><a href="/fw/login.php">Login</a></li>
                    <li><a href="#">Signup</a></li> -->
                </ul>

                <ul id="user-navigation"> <li><a href="http://localhost/yoursite/user.php">Settings</a></li><li><a href="http://localhost/yoursite/logout.php">Logout</a></li>
                   
                </ul>
                <div class="clear"></div>
            </div>
        </div>





        <div id="bd">
            <div id="yui-main">
                <div class="yui-b">
                    

                    <!-- Basic block -->
                    <div class="block">
                        <div class="hd"><h2 style="font-weight:bold"> <a style="color:#FFFFFF" href="index.php">Forum</a>-><a style="color:#fff" href="category.php?id=3">Motor bikes</a>->Yamaha XS1100</h2> 
                          
                        </div>
                        <div class="bd">
                            
										<table>
				<thead> 
                                    <tr>
                                        <td>Yamaha XS1100</td>
                                       <td><center></center></td>
                                        <td><center></center></td>
                                        <td><center></center></td>
                                        <td><center></center></td>
                                       
                                    </tr>
                                </thead>
                                         <tr><td colspan="5"> <a name="1" id="1"></a>
<table border="0" cellspacing="0" cellpadding="0" class="tborder">
	<tbody>
		<tr style ="border-bottom:1px solid #000000">
			<td class="tcat">
				<div class="float_left smalltext">
					16-07-2014, 00:37 
				</div>
				<div class ="float_right">#1</div>
			</td>
		</tr>

		<tr style ="border-bottom:1px solid #000000; height:50px">
			<td class="trow1">
							<img height="64" width="64" src ="http://media.steampowered.com/steamcommunity/public/images/avatars/e8/e8a05de3dff2e00814bf5a605e44501147fd5514_medium.jpg" /> 
				
							<div><strong><span class="largetext">Jim</span></strong>&nbsp <img src ="http://localhost/yoursite/images/online.png"></div>
				
						
			</td>
		</tr>

		<tr style ="border-bottom:1px solid #000000">
			<td class="trow2  post_content {$unapproved_shade}">
				
				<div class="post_body" id="pid_1">
					The XS Eleven made its debut in 1978 as the largest capacity Japanese superbike then currently in production. It featured dual front disc brakes, a rear disc brake, shaft drive and cast wheels. A "factory custom" styled XS Eleven Special was released alongside it in 1979. Both models were superseded by the 1982 XJ1100 Maxim which used an engine based very closely on the XS1100 unit. The XJ1100 Maxim was only built for one year, before being phased out. In Europe, the XS Eleven differed from the North American model by having a larger gas tank (6.3 US gallons vs. 5.3 US gallons), a lower handlebar and longer exhaust pipes. The European market also featured the 1.1 Sport (based on the Special model) and Martini (based on the original XS1100) versions. Both of these additional models were faired.
				</div>
<div style ="padding-top:4px;">
<hr style= "background-color:#000;width:30%;float:left;"><br/>				
				
				Signatures disabled
</div>
				<div class="post_meta" id="1">
				
				</div>
			</td>
		</tr>

		<tr>
			<td class="trow1 post_buttons {$unapproved_shade}">
				<div class="author_buttons float_left alertify-button alertify-button-ok">
					<a href="index.php">Home</a> 
				</div>
				<div class="author_buttons float_left ">
					<input class ="alertify-button alertify-button-ok" type="button" id="reply" onclick="myFunction()" value="Quote" > 
				</div>
				<div class="float_right">right buttons
				</div>
			</td>
		</tr>
	</tbody>
</table>
<br />

<a name="2" id="2"></a>
<table border="0" cellspacing="0" cellpadding="0" class="tborder">
	<tbody>
		<tr style ="border-bottom:1px solid #000000">
			<td class="tcat">
				<div class="float_left smalltext">
					16-07-2014, 00:40 
				</div>
				<div class ="float_right">#2</div>
			</td>
		</tr>

		<tr style ="border-bottom:1px solid #000000; height:50px">
			<td class="trow1">
							<img height="64" width="64" src ="http://localhost/yoursite/images/default_avatar.png" /> 
				
							<div><strong><span class="largetext">bill</span></strong>&nbsp <img src ="http://localhost/yoursite/images/offline.png"></div>
				
						
			</td>
		</tr>

		<tr style ="border-bottom:1px solid #000000">
			<td class="trow2  post_content {$unapproved_shade}">
				
				<div class="post_body" id="pid_2">
					big old beast
				</div>
<div style ="padding-top:4px;">
<hr style= "background-color:#000;width:30%;float:left;"><br/>				
				
				Signatures disabled
</div>
				<div class="post_meta" id="2">
				
				</div>
			</td>
		</tr>

		<tr>
			<td class="trow1 post_buttons {$unapproved_shade}">
				<div class="author_buttons float_left alertify-button alertify-button-ok">
					<a href="index.php">Home</a> 
				</div>
				<div class="author_buttons float_left ">
					<input class ="alertify-button alertify-button-ok" type="button" id="reply" onclick="myFunction()" value="Quote" > 
				</div>
				<div class="float_right">right buttons
				</div>
			</td>
		</tr>
	</tbody>
</table>
<br />

<a name="3" id="3"></a>
<table border="0" cellspacing="0" cellpadding="0" class="tborder">
	<tbody>
		<tr style ="border-bottom:1px solid #000000">
			<td class="tcat">
				<div class="float_left smalltext">
					16-07-2014, 00:44 
				</div>
				<div class ="float_right">#3</div>
			</td>
		</tr>

		<tr style ="border-bottom:1px solid #000000; height:50px">
			<td class="trow1">
							<img height="64" width="64" src ="http://localhost/yoursite/images/default_avatar.png" /> 
				
							<div><strong><span class="largetext">bill</span></strong>&nbsp <img src ="http://localhost/yoursite/images/offline.png"></div>
				
						
			</td>
		</tr>

		<tr style ="border-bottom:1px solid #000000">
			<td class="trow2  post_content {$unapproved_shade}">
				
				<div class="post_body" id="pid_3">
					this is a pic 
<img src ="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/79xs11f.jpg/250px-79xs11f.jpg">
might work
				</div>
<div style ="padding-top:4px;">
<hr style= "background-color:#000;width:30%;float:left;"><br/>				
				
				Signatures disabled
</div>
				<div class="post_meta" id="3">
				
				</div>
			</td>
		</tr>

		<tr>
			<td class="trow1 post_buttons {$unapproved_shade}">
				<div class="author_buttons float_left alertify-button alertify-button-ok">
					<a href="index.php">Home</a> 
				</div>
				<div class="author_buttons float_left ">
					<input class ="alertify-button alertify-button-ok" type="button" id="reply" onclick="myFunction()" value="Quote" > 
				</div>
				<div class="float_right">right buttons
				</div>
			</td>
		</tr>
	</tbody>
</table>
<br />

<a name="4" id="4"></a>
<table border="0" cellspacing="0" cellpadding="0" class="tborder">
	<tbody>
		<tr style ="border-bottom:1px solid #000000">
			<td class="tcat">
				<div class="float_left smalltext">
					16-07-2014, 11:20 
				</div>
				<div class ="float_right">#4</div>
			</td>
		</tr>

		<tr style ="border-bottom:1px solid #000000; height:50px">
			<td class="trow1">
							<img height="64" width="64" src ="http://localhost/yoursite/images/default_avatar.png" /> 
				
							<div><strong><span class="largetext">bill</span></strong>&nbsp <img src ="http://localhost/yoursite/images/offline.png"></div>
				
						
			</td>
		</tr>

		<tr style ="border-bottom:1px solid #000000">
			<td class="trow2  post_content {$unapproved_shade}">
				
				<div class="post_body" id="pid_4">
					good
				</div>
<div style ="padding-top:4px;">
<hr style= "background-color:#000;width:30%;float:left;"><br/>				
				
				Signatures disabled
</div>
				<div class="post_meta" id="4">
				
				</div>
			</td>
		</tr>

		<tr>
			<td class="trow1 post_buttons {$unapproved_shade}">
				<div class="author_buttons float_left alertify-button alertify-button-ok">
					<a href="index.php">Home</a> 
				</div>
				<div class="author_buttons float_left ">
					<input class ="alertify-button alertify-button-ok" type="button" id="reply" onclick="myFunction()" value="Quote" > 
				</div>
				<div class="float_right">right buttons
				</div>
			</td>
		</tr>
	</tbody>
</table>
<br />

<a name="5" id="5"></a>
<table border="0" cellspacing="0" cellpadding="0" class="tborder">
	<tbody>
		<tr style ="border-bottom:1px solid #000000">
			<td class="tcat">
				<div class="float_left smalltext">
					18-07-2014, 11:35 
				</div>
				<div class ="float_right">#5</div>
			</td>
		</tr>

		<tr style ="border-bottom:1px solid #000000; height:50px">
			<td class="trow1">
							<img height="64" width="64" src ="http://media.steampowered.com/steamcommunity/public/images/avatars/e8/e8a05de3dff2e00814bf5a605e44501147fd5514_medium.jpg" /> 
				
							<div><strong><span class="largetext">Jim</span></strong>&nbsp <img src ="http://localhost/yoursite/images/online.png"></div>
				
						
			</td>
		</tr>

		<tr style ="border-bottom:1px solid #000000">
			<td class="trow2  post_content {$unapproved_shade}">
				
				<div class="post_body" id="pid_5">
					heavy bike
				</div>
<div style ="padding-top:4px;">
<hr style= "background-color:#000;width:30%;float:left;"><br/>				
				
				Signatures disabled
</div>
				<div class="post_meta" id="5">
				
				</div>
			</td>
		</tr>

		<tr>
			<td class="trow1 post_buttons {$unapproved_shade}">
				<div class="author_buttons float_left alertify-button alertify-button-ok">
					<a href="index.php">Home</a> 
				</div>
				<div class="author_buttons float_left ">
					<input class ="alertify-button alertify-button-ok" type="button" id="reply" onclick="myFunction()" value="Quote" > 
				</div>
				<div class="float_right">right buttons
				</div>
			</td>
		</tr>
	</tbody>
</table>
<br />

<a name="6" id="6"></a>
<table border="0" cellspacing="0" cellpadding="0" class="tborder">
	<tbody>
		<tr style ="border-bottom:1px solid #000000">
			<td class="tcat">
				<div class="float_left smalltext">
					18-07-2014, 12:08 
				</div>
				<div class ="float_right">#6</div>
			</td>
		</tr>

		<tr style ="border-bottom:1px solid #000000; height:50px">
			<td class="trow1">
							<img height="64" width="64" src ="http://media.steampowered.com/steamcommunity/public/images/avatars/e8/e8a05de3dff2e00814bf5a605e44501147fd5514_medium.jpg" /> 
				
							<div><strong><span class="largetext">Jim</span></strong>&nbsp <img src ="http://localhost/yoursite/images/online.png"></div>
				
						
			</td>
		</tr>

		<tr style ="border-bottom:1px solid #000000">
			<td class="trow2  post_content {$unapproved_shade}">
				
				<div class="post_body" id="pid_6">
					
				</div>
<div style ="padding-top:4px;">
<hr style= "background-color:#000;width:30%;float:left;"><br/>				
				
				Signatures disabled
</div>
				<div class="post_meta" id="6">
				
				</div>
			</td>
		</tr>

		<tr>
			<td class="trow1 post_buttons {$unapproved_shade}">
				<div class="author_buttons float_left alertify-button alertify-button-ok">
					<a href="index.php">Home</a> 
				</div>
				<div class="author_buttons float_left ">
					<input class ="alertify-button alertify-button-ok" type="button" id="reply" onclick="myFunction()" value="Quote" > 
				</div>
				<div class="float_right">right buttons
				</div>
			</td>
		</tr>
	</tbody>
</table>
<br />

<a name="7" id="7"></a>
<table border="0" cellspacing="0" cellpadding="0" class="tborder">
	<tbody>
		<tr style ="border-bottom:1px solid #000000">
			<td class="tcat">
				<div class="float_left smalltext">
					18-07-2014, 12:12 
				</div>
				<div class ="float_right">#7</div>
			</td>
		</tr>

		<tr style ="border-bottom:1px solid #000000; height:50px">
			<td class="trow1">
							<img height="64" width="64" src ="http://media.steampowered.com/steamcommunity/public/images/avatars/e8/e8a05de3dff2e00814bf5a605e44501147fd5514_medium.jpg" /> 
				
							<div><strong><span class="largetext">Jim</span></strong>&nbsp <img src ="http://localhost/yoursite/images/online.png"></div>
				
						
			</td>
		</tr>

		<tr style ="border-bottom:1px solid #000000">
			<td class="trow2  post_content {$unapproved_shade}">
				
				<div class="post_body" id="pid_7">
					<blockquote>This is a short block quote — look Ma, no paragraph tags!</blockquote>
				</div>
<div style ="padding-top:4px;">
<hr style= "background-color:#000;width:30%;float:left;"><br/>				
				
				Signatures disabled
</div>
				<div class="post_meta" id="7">
				
				</div>
			</td>
		</tr>

		<tr>
			<td class="trow1 post_buttons {$unapproved_shade}">
				<div class="author_buttons float_left alertify-button alertify-button-ok">
					<a href="index.php">Home</a> 
				</div>
				<div class="author_buttons float_left ">
					<input class ="alertify-button alertify-button-ok" type="button" id="reply" onclick="myFunction()" value="Quote" > 
				</div>
				<div class="float_right">right buttons
				</div>
			</td>
		</tr>
	</tbody>
</table>
<br />

<a name="8" id="8"></a>
<table border="0" cellspacing="0" cellpadding="0" class="tborder">
	<tbody>
		<tr style ="border-bottom:1px solid #000000">
			<td class="tcat">
				<div class="float_left smalltext">
					18-07-2014, 12:23 
				</div>
				<div class ="float_right">#8</div>
			</td>
		</tr>

		<tr style ="border-bottom:1px solid #000000; height:50px">
			<td class="trow1">
							<img height="64" width="64" src ="http://media.steampowered.com/steamcommunity/public/images/avatars/e8/e8a05de3dff2e00814bf5a605e44501147fd5514_medium.jpg" /> 
				
							<div><strong><span class="largetext">Jim</span></strong>&nbsp <img src ="http://localhost/yoursite/images/online.png"></div>
				
						
			</td>
		</tr>

		<tr style ="border-bottom:1px solid #000000">
			<td class="trow2  post_content {$unapproved_shade}">
				
				<div class="post_body" id="pid_8">
					<blockquote cite="http://www.imdb.com/character/ch0000672/quotes">
<p>You know the golden rule, don’t you boy? Those who have the gold make the rules.</p>
<footer>— <a href="http://www.imdb.com/character/ch0000672/quotes">Crazy hunch-backed old guy in Aladdin</a></footer>
</blockquote>

sample quote
				</div>
<div style ="padding-top:4px;">
<hr style= "background-color:#000;width:30%;float:left;"><br/>				
				
				Signatures disabled
</div>
				<div class="post_meta" id="8">
				
				</div>
			</td>
		</tr>

		<tr>
			<td class="trow1 post_buttons {$unapproved_shade}">
				<div class="author_buttons float_left alertify-button alertify-button-ok">
					<a href="index.php">Home</a> 
				</div>
				<div class="author_buttons float_left ">
					<input class ="alertify-button alertify-button-ok" type="button" id="reply" onclick="myFunction()" value="Quote" > 
				</div>
				<div class="float_right">right buttons
				</div>
			</td>
		</tr>
	</tbody>
</table>
<br />

<a name="9" id="9"></a>
<table border="0" cellspacing="0" cellpadding="0" class="tborder">
	<tbody>
		<tr style ="border-bottom:1px solid #000000">
			<td class="tcat">
				<div class="float_left smalltext">
					22-07-2014, 00:31 
				</div>
				<div class ="float_right">#9</div>
			</td>
		</tr>

		<tr style ="border-bottom:1px solid #000000; height:50px">
			<td class="trow1">
							<img height="64" width="64" src ="http://media.steampowered.com/steamcommunity/public/images/avatars/e8/e8a05de3dff2e00814bf5a605e44501147fd5514_medium.jpg" /> 
				
							<div><strong><span class="largetext">Jim</span></strong>&nbsp <img src ="http://localhost/yoursite/images/online.png"></div>
				
						
			</td>
		</tr>

		<tr style ="border-bottom:1px solid #000000">
			<td class="trow2  post_content {$unapproved_shade}">
				
				<div class="post_body" id="pid_9">
					duno mate
				</div>
<div style ="padding-top:4px;">
<hr style= "background-color:#000;width:30%;float:left;"><br/>				
				
				Signatures disabled
</div>
				<div class="post_meta" id="9">
				
				</div>
			</td>
		</tr>

		<tr>
			<td class="trow1 post_buttons {$unapproved_shade}">
				<div class="author_buttons float_left alertify-button alertify-button-ok">
					<a href="index.php">Home</a> 
				</div>
				<div class="author_buttons float_left ">
					<input class ="alertify-button alertify-button-ok" type="button" id="reply" onclick="myFunction()" value="Quote" > 
				</div>
				<div class="float_right">right buttons
				</div>
			</td>
		</tr>
	</tbody>
</table>
<br />

</td></tr>
						<tr><td colspan="5"><h2>Reply:</h2><br />
					<form method="post" action="reply.php?id=9" id = "input">
						<textarea class="ckeditor" name="reply-content" id="editor1" ></textarea>
						 <script>CKEDITOR.replace( 'editor1', {uiColor: '#187A7A',removePlugins: 'elementspath',toolbar: [
					[ 'Bold', 'Italic','Underline', 'Strike', 'Subscript', 'Superscript', 'RemoveFormat', '-', 'NumberedList', 'BulletedList' ],
					[ 'FontSize', 'TextColor', 'Scayt' ], ['JustifyLeft', 'JustifyCenter', 'JustifyRight' ], [ 'Blockquote', 'Link', 'Image','Smiley','oembed'] 
				]
			});</script>  	
						<br /><br />
                                                <input type="hidden" name="username" id="username" value="" />  
						<input type="submit" class="alertify-button alertify-button-ok" name="btnlogin" id="input1" value="Reply"> 
					</form></td></tr>	
                                        <script>jQuery.noConflict();</script>
					<script>
			
						jQuery('#input').submit(function() {
						title= jQuery('#username').val().length ;
								
						if (title > 0)
								{
								message = 'You must signed in to reply';
								alertify.alert(message);
								return false;
								}
						

							});
							
					</script>
<script>
function myFunction() {
    alert ('function triggered');
//jQuery('#editor1').append('&#13;&#10;appended');
// Get the editor instance that we want to interact with.
	var editor = CKEDITOR.instances.editor1;
//<div class="post_body" id="pid_9">duno mate</div>
	var value = jQuery('#pid_9').html();
	//value = 'dunno';
alert ('value is '+value);

	// Check the active editing mode.
	if ( editor.mode == 'wysiwyg' )
	{
		// Insert HTML code.
		// http://docs.ckeditor.com/#!/api/CKEDITOR.editor-method-insertHtml
		//editor.insertHtml( value );
		CKEDITOR.instances.editor1.insertHtml( value );
	}
	else
		alert( 'You must be in WYSIWYG mode!' );
}
</script>


                            </table>                    
                        </div>
                    </div>
                
                </div></div>
            
            <div id="sidebar" class="yui-b">

                <!-- Sidebar block (same markup as basic block) -->
                <div class="block">
                    <div class="hd">
                        <h2>Your Statistics</h2>
                    </div>
                    <div class="bd">
                        <p>Unread Private Messages 0</p>
                        <p>New Threads 0</p>
                    </div>
                </div>

              
                <div class="block">
                    <div class="hd">
                       <h3> Empty Box</h3> 
                    </div>
                    <div class="bd">
                    this is just an empty box :)
                    </div>
                </div>

<div class="block">
                    <div class="hd">
                       <h3> Online Users</h3> 
                    </div>
                    <div class="bd">
                    we have 1 online 
                    </div>
                </div>
                
                
            </div>
        </div>

        <div>


            <!-- do we use an odd file extension -->
			<br />
			<div class="bottommenu">
				
				<div>
					<span class="smalltext"><a href="{$mybb->settings['contactlink']}">Contact</a> | <a href="{$mybb->settings['homeurl']}">Home</a> | <a href="#top">Top</a></span>
				</div>
			</div>
			</div>
		<hr class="hidden" />
			<div id="copyright" style= "padding-left:2%;">
				
Powered By <a href="http://noideersoftware.co.uk/" target="_blank">Your Site</a>, &copy; 2012-2014 <a href="http://noideersoftware.co.uk/" target="_blank">NoIdeer Software</a>.<br />
				<!-- End powered by -->
				<br />
<br class="clear" />

		</div>
		<br/>
		</div>
      <br />

            
        </div>

    </div>

</body>
</html>

