<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>#title#</title>#include#
    <link rel="stylesheet" href="#path#/css/colorbox.css" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    
</head>
<body>
#header#

                            <div class="col">
                                <div class="cell panel">
                                    
                                       <div class="cell"> 
                                       <div style="float:left;"><label>#navi#</label></div>
                                    <!--<div style="float:right;">#newthreads#</div> -->
                                            <div class="col">
                                            <!--<div class="pagination upper" style="float:right;padding-right:0.5%;">
                                                        <ul class="nav" style="padding-right:10px;">
                                                            #poo#
                                                        </ul>
                                                            #newthreads#
                                                   </div>-->
                                                <div class="cell tab-block top-nav">
                                                  
                                       <div style="width:5%;clear:both;float:left;">&nbsp;</div>
                                        <div style="width:33.5%;float:left;">Thread</div>
                                        <div style="width:10.5%;float:left;"><center>Posts</center></div>
                                        <div style="width:17.5%;float:left;"><center>Views</center></div>
                                        <div style="width:29.5%;float:left;"><center>Last Post</center></div>                                                   
                                                   <div class="tab-content" style="min-height:90%">
                                                   
                                                            #rowd#
                                                           
                                                    </div>
                                                    <div> 
                                                    <!-- <div style="float:right;"><a class="button" href="create_topic.php">Quick Thread</a></div> -->
                                                    
                                                     <div class="pagination lower" style="float:right;padding-right:0.5%;">
                                                        <ul class="nav1 nav" style="padding-right:10px;">
                                                            #poo#
                                                        </ul>
                                                           #newthreads# 
                                                   </div>
                                                   
                                                    </div>
<div class="width-fill">
<!-- <div style="float:left;width:6%" class="cell"><span class="icon icon-32 icon-comment color-green float-left" ></span><label>Unread</label></div>
<div style="float:left;width:6%" class="cell"><span class="icon icon-32 icon-comment color-yellow float-left"></span><label>Read</label></div>
<div style="float:left;width:6%" class="cell"><span class="icon icon-32 icon-comment color-red float-left"></span><label>Locked</label></div> --> 


            </div>
            </div>
            
            #footer#
        
        </div>

    </div>
    <script>
      $(document).ready(
            function() {
                $(".iframe").colorbox({iframe:true, width:"85%", height:"85%", overlayClose: false, escKey:false});
                $(".nav1 a").click(function(event) {
        event.preventDefault();
        var test = $(this).parent();
        var pagpage = test.attr('href');
        //highlightCell(pagpage);
        $(this).parent().addClass("active-item");
        $(this).parent().siblings().removeClass("active-item");
        var tab = $(this).attr("href");
         //alert(tab);
        $(".pag").not(tab).addClass("hidden-tab");
        $(tab).removeClass("hidden-tab");
        $(tab).fadeIn();
        });
    
});
            
</script>            
</body>
</html>
         
