<!--
   create topic.html
  
   
	Update 30/03/15 19:56    
-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>#title#</title>#include#
    <script src="#path#/js/ckeditor.js"></script>
</head>
<body>
#header#
 <div class="col" style="float:left;width:90%;">
                                <div class="cell panel" style="box-shadow:none;border:none;background:#2D3538;" >
                                	<form method="post" action="create_topic.php" id="input1">
                                    <div class="cell tab-block top-nav" >
                                                    <div class="tabs">
                                                        <ul class="nav">
                                                            <li class="active"><a href="#tabcontent1">Title & Description</a></li>
                                                            <li><a href="#tabcontent2">Images</a> </li> 
                                                            <li><a href="#tabcontent3">Inventory & Price</a> </li> 
                                                            <li><a href="#tabcontent4">Promotions</a> </li> 
                                                            <!--<li id="map"><a id="map" href="#tabcontent5">Contact Us</a></li> -->
                                                            
                                                        </ul>
                                                    </div>
                                                    
                                                    <div class="tab-content colorborder" style="min-height:600px;background:#2D3538;color:#999;position:relative;">
                                                     	
                                                    	<div class="cell" id="tabcontent1">
                                                    		<div style="text-align:center;margin-top:1%;">Add a new Item</div> 
                                                    		<div></div>
                                                    		<div style="float:left;padding:2%;color:#999;">
                                                    		<label>Title:</label> 
                                                    		<input class="text" type="text" name="topic_subject" id="subject" size = "50" />
                                                    		</div>
                                                    		<div style="float:left;padding:2%;color:#999;"><label>Area:</label> #catlist#</div>
                                                    		<div style="width:65%;clear:both;padding-left:4%;">
                                                    			<textarea  cols="30" class="ckeditor" name="post_content" id= "editor1" /></textarea>
                                                    		</div>
                                                    	</div>
                                                    	
                                                    	<div class="cell hidden-tab" id="tabcontent2">
                                                    		<div style="text-align:center;margin-top:1%;">Add a new Item</div> 
                                                    		tab 2
                                                    		 
                                                    	</div>
                                                    	
                                                    	<div class="cell hidden-tab" id="tabcontent3">
                                                    		<div style="text-align:center;margin-top:1%;">Add a new Item</div> 
                                                    		tab 3
                                                    		 
                                                    	</div>
                                                    
                           					  </div>
                           	  					<div style="padding:2%;float:left;position:absolute; bottom:0;">
                                        				<button class="button" type="submit" id="input1">Add Item</button>
                                        				<button class="button" id="test" type="button" onclick = "window.history.back(-1)">Quit</button>
                                                    	</div>
                                                                
                       			</div>
                       			</form>
                       		</div>		
                               
					<!--<div style="padding-left:2%;float:left;">
                                        <button class="button" type="submit" id="input1">Add Item</button>
                                        <!--<button file-id="#attach#" id="attachbtn" type="button" class="button" onclick= "Alert()">Attach </button>
                                        <button class="button" id="test" type="button" onclick = "window.history.back(-1)">Quit</button>
                             </div> -->
				
                                                                   
                                                
                 
      
            
</body>
</div>
</div>
</div>     
#footer#   
<script>
			
		$('#input1').submit(function() {
			title= $('#subject').val().length ;

			
if (title === 0)
{
message = 'Your thread needs a subject !';
alertify.alert(message);
			return false;
}

	var editor = CKEDITOR.instances.editor1;
	var html = editor.getData();
	title= html.length ;
	
	
			
if (title < 15)
{
message = 'Your post is too short !<br>add some more text';
alertify.alert(message);
			return false;
}

	
		});
		
	</script>    

</html>
