

<div style ="border:none;width:100%;padding-bottom:1%;background:#2D3538;color:#999;">

<div style="width:3%;float:left;">
					<span class="icon icon-32 icon-comment color-green float-left"></span>
					</div>
					<div style="float:left;width:35%;padding-left:1%;">
					<h3><a href="topic.php?id=#topic_id#&activetab=#activetab#">
					 #topic_subject#</a><br />
					 <h3></div>
<!--				    <div style = "float:left;text-align:center;width:11%;">
				    #stats#
				    </div>
				    <div style = "float:left;width:17.5%">
				    <center>#replies#</center>
				    </div>
				    <div style = "float:left;width:32%;">
				    <center>#last_time# By  #username#</center>
				    </div>
				    -->
				    </div>
