<div class="cell">
<a name="#postid#" id="#postid#"></a>
		<div class="col panel">	
			<div class="header grad-top" style="padding:1%;">
				<div style ="float:left;">#subject#</div>
				 <div style ="float:right;padding:0%"><strong><span>Posted by #username#</span></strong>&nbsp #postdate#, #posttime#  </div>
         </div>    			
				<div class="post_body" id="pid_#postid#" style="max-width:100%;overflow-wrap:break-word;clear:both;padding:1%;">
		
					#post_content#
				</div>
        </div>  

</div>
