<!-- do we use an odd file extension -->
			</div></div></div></div>
			<div class="pipes">
				
				<div style= "padding-left:2%;">
					<span class="smalltext"><a href="{$mybb->settings['contactlink']}">Contact</a> | <a href="{$mybb->settings['homeurl']}">Home</a> | <a href="#top">Top</a></span>
				</div>
			</div>
			
		
			<div id="copyright" style= "padding-left:2%;float:left">
				
Powered By <a href="http://noideersoftware.co.uk/" target="_blank">Your Site</a>, &copy; 2012-2014 <a href="http://noideersoftware.co.uk/" target="_blank">NoIdeer Software</a>.<br />
				

<br class="clear" />

		
		<br/>
		</div>
<div style="float:right;padding-right:2%">#adminstats#</div>
      <br />
