<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html style= "background:#2D3538;;">
<head>
    <title>#title#</title>#include#
    <link rel="stylesheet" href="#path#/css/colorbox.css" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <link href="/vibracart/vibracartstyle3.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/vibracart/settingsstyle3.js"></script>
<script type="text/javascript" src="/vibracart/sarissa.js"></script>
<script type="text/javascript" src="/vibracart/vibracart.js"></script>
</head>
<body>
#header#
                 
                             <div class="col" style="float:left;width:90%;">
                                <div class="cell panel" style="background:#2D3538;;min-height:100%;border:none;box-shadow:none;">
                                    
                                        
                                            <div class="col">
                                                <div class="cell tab-block top-nav">
                                                    <div class="tabs">
                                                        <ul class="nav">
                                                            #tab#
                                                        </ul>
                                                    </div> 
                                                   <div class="tab-content colorborder" style="min-height:90%;background:#2D3538;width:70%;float:left;">
                                                            #rowd#
                                                   </div>
                                                   <div style="float:right;margin-right:2%;width:15%">
                                                   <div class="colorborder" style="width:95%;padding:1%;">
                                                   	
                                                   	<div style="padding:1%;text-align:center;width:100%;">
	  											<script language="javascript" type="text/javascript">
													startcart()
												</script>
												<span class="icon-shopping-cart icon icon-64"></span>
												<span id="showcarttotal">0.00</span><br>
												<span> Items </span><span id="showitemcount">0</span><br>
											<!--<div style="float:left;"><a href="https://www.positivessl.com" style="font-family: arial; font-size: 10px; color: #212121; text-decoration: none;"><img src="https://www.positivessl.com/images-new/PositiveSSL_tl_trans2.png" alt="SSL Certificate" title="SSL Certificate" border="0" style="max-height:64px;" /></a></div> -->									
	<div style="float:left;margin-top:15px;text-align:center;margin-left:20%;width:98%;"><a class ="button" href="" onclick="checkOut();">Checkout </a> <a class="button" href="" onclick="showCart(); return(false)">Show Cart</a></div> 
                                           	<!-- <img src="/vibracart/clearcart.php?mode=all" width="1" height="1"/> -->
                                           	
                      <!--<div style="float:right;clear:none;">
                      	<img src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_payments_by_pp_2line.png">
                      	
                    </div> --><!-- PayPal Logo -->   
                    
                                                   	</div>
                                                   	
                                                   	</div>
                                                   </div>
												</div>
            
            
        
        </div>
     
    
    </div>
    </div>
    <br>
<!--    
<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" onsubmit="paypal_setitem(this.form)">
<input type="hidden" name="add" value="1">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="jim.richardson06@btinternet.com.com">
<input type="hidden" name="item_number" value="id1">
<input type="hidden" name="item_name" value="Rain Coat">
<input type="hidden" name="amount" value="10.00">
<input type="hidden" name="currency_code" value="GBP">
<input type="hidden" name="notify_url" value="http://kbracing.noideersoftware.co.uk/ipn.php"> 
<input type="hidden" name="return" value="http://kbracing.noideersoftware.co.uk/shop/topic2.php">
<input type="hidden" name="rm" value="2">
<input type="hidden" name="shipping" value="1.00">
<input type="hidden" name="shipping2" value="2.00">
<input type="hidden" name="handling" value="7.50">
<input type="hidden" name="cbt" value="Return to KB Racing">
<!--<input type="hidden" name="custom" value="#email#">
<!-- <input type="hidden" name="no_shipping" value="0">
<select name="vibracart_itemmenu" onchange="vc_itemmenu(this.form)">
<option value="id1|Rain Coat|10.00">Rain Coat $10.00</option>
<option value="id2|T-Shirt|3.00">T-Shirt $3.00</option>
<option value="id3|Blouse|6.50">Blouse $6.50</option>
<option value="id4|Engine|10006.50">Engine 10006.50</option>
<option value="id5|Piston|6.50">Piston 6.50</option>
<option value="id6|Small Engine|1006.50">Small Engine 1006.50</option>
<option value="id7|Big Piston|26.50">Big Piston 26.50</option>
</select>
<br>
<input style="background:transparent;" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
height="1">
</form>
<div>
single button
<form  id="paypal" target="paypal" style="float:left;height:11px;width:84px;" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="add" value="1">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="jim.richardson06@btinternet.com">
<input type="hidden" name="item_name" value="single button">
<input type="hidden" name="item_number" value="#20">
<input type="hidden" name="amount" value="5.00">
<input type="hidden" name="currency_code" value="GBP">
<input type ="hidden" name="shipping" value="0.01">
<input type ="hidden" name="shipping2" value="4.00">
<input type ="hidden" name="return" value="https://kbracing.noideersoftware.co.uk/shop/topic2.php">
<input type ="hidden" name="notify_url" value="https://kbracing.noideersoftware.co.uk/ipn.php">
<input type ="hidden" name="cancel_return" value="https://kbracing.noideersoftware.co.uk/shop/topic2.php">
<input type="hidden" name="cbt" value="Return to KB Racing">
<input type ="hidden" name="rm" value="2">
<input type="hidden" name="handling" value="5.50">
<input type="hidden" name="custom" value="custom button text">
<!-- <input type="hidden" name="transaction_subject" value="trans subject"> 
<input type="submit" class="button" value="Add to Cart" style="margin-top:-7%;">
</form>
</div> -->     
    <div style="clear:both;">
 <!-- PayPal Logo --> 
    #footer#
    </div>
    
    <script>
      $(document).ready(
            function() {
                $(".iframe").colorbox({iframe:true, width:"85%", height:"85%", overlayClose: false, escKey:false});
               
            });
</script>
<script language="javascript" type="text/javascript">
startcart()
</script>            
</body>
</html>
         
