
<!-- above before process -->
                                   
                                       
                                            <div class="col">
                                                <div class="cell collapsible panel" style="background:#2D3538;">
                                                    <div class="header collapse-trigger" style="background-color:greenyellow;">
                                                        <span class="icon icon-collapse color-black"></span>
                                                        <a href="#" style="color:#000">
                                                            <span class="collapsed-only">#cat_name#</span>
                                                            <span class="uncollapsed-only">#cat_name#</span>
                                                        </a>
                                                    </div>
                                                    <div class="body collapse-section">
                                                        
                                                            #rows#
                                                        
                                                    </div>
                                                   </div>

                                           
<!-- after process -->
