<!DOCTYPE html>
<html>
<head>
<title>#title#</title>
        #include# 
<link rel="stylesheet" href="#path#/css/colorbox.css" />
</head>
	<body>
    	  #header#
        #msg#
									 <div class="col" style="float:left;width:90%;">             
                                <div class="cell tab-block top-nav" >
                                   
                                                    <div class="tabs">
                                                        <ul class="nav">
                                                            <li class="active"><a href="#tabcontent1">General</a></li>
                                                            <li><a href="#tabcontent2">User Control</a> </li>
                                                            <li><a href= "tabcontent7">Area Control</a></li> 
                                                            <li><a href="#tabcontent3">Modules</a> </li> 
                                                            <li><a href="#tabcontent4">Plugins</a></li>
                                                            <li><a href="#tabcontent5">Styling</a></li> 
                                                            <li><a href="#tabcontent6">Maintainence</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="tab-content colorborder" style="min-height:700px;background:#2D3538;color:#999;">
                                                        <div class="cell" id="tabcontent1">
                                                        		<!-- tab 1 -->
                                                        		    
                                                                <div class="cell width-2of4" style="float:left;max-width:24%;min-height:80%;">
                                                                 		#astat#
                     														 </div>
                     <div class="cell width-1of4" style="padding:1%;float:left;width:10%;">
                      <div><a href = "admin.php?action=turnstatus" title = "turn the site on or off" >On/Off Line</a><span style="float:right;color:#stat#" class="icon icon-16 icon-circle"></span></div> 
                      <p style = "margin-bottom: 0px;"><a href="admin.php?action=datetime">Date & Time</a></p>
                                         
                   </div>  
                                                        </div>
                                                        
                                                       <div class="cell hidden-tab" id="tabcontent2">
                                                                <img style ="max-width:6%;float:left;" src = "#path#/images/logo.png" />
                                                                <h3 style="margin-left:6%;">Get Involved</h3>
                                                                <hr style="color:#999;" />
                                                       </div>
                                                       <div class="cell hidden-tab" id="tabcontent3">
                                                       <img style ="max-width:6%;float:left;" src = "#path#/images/logo.png" />
                                                                <h3 style="margin-left:6%;">Modules</h3>
                                                                <hr style="color:#999;" />
                                                       </div>
                                                                                                                                
                                                        <div class="cell hidden-tab" id="tabcontent4">
                                                               <img style ="max-width:6%;float:left;" src = "#path#/images/logo.png" />
                                                                <h3 style="margin-left:6%;">Screen Shots</h3>
                                                                <hr style="color:#999;" />
            														</div>
            
																	    <div class="cell hidden-tab" id="tabcontent5" style="max-width:100%;">
                                                             <img style ="max-width:6%;float:left;" src = "#path#/images/logo.png" />
                                                            <h3>Styling</h3>
                                                      </div>
                                                      <div class="cell hidden-tab" id="tabcontent6" style="max-width:100%;">
                                                             <img style ="max-width:6%;float:left;" src = "#path#/images/logo.png" />
                                                            <h3>Maintainance</h3>
                                                      </div>
                                                </div>
        							</div>
        							</div>
#footer#
<script>
      $(document).ready(
            function() {
                $(".iframe").colorbox({iframe:true, width:"85%", height:"85%", overlayClose: false, escKey:false});
               
            });
</script>             
  
    </body>
</html>
