<!--
   category.html
   
   Copyright 2014 Jim Richardson <jim@noideersoftware.co.uk>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
	Update 20/7/14 19:56    
-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html style= "background:#2D3538;;">
<head>
    <title>#title#</title>
    #include#
</head>
<body>
#header#
       
                            <div class="col" style="width:85%">
                                <div class="cell colorborder">
                                    <div class="body">
                                        <div class="cell">
                                            <div class="col">
                                                <div class="cell tab-block top-nav">
                                                    <div class="tabs">

                         

                    <!-- Basic block -->
                    
                                                   
				<table style="background-color:transparent;">
				<thead> 
                                    <tr><td colspan="8">Create a Category </td></tr>
				</thead>
			            <tr><td width="50%">Details</td><td>Permissions</td></tr>
                                <tr >
                                          <form method="post" action="" id="input">
			<td><table style="background-color:transparent;"><tr>
			<td width="10%">Category name:</td>
			<td width="40%"> <input type="text" name="cat_name" id= "cat_name" class="text" style="border:1px solid #CCC;width:30%" />
			</td>
			</tr>
				<tr><td style="vertical-align:top;">Category description</td><td><textarea class ="text" rows="4" cols="50" name="cat_description" /></textarea></td></tr>
				<tr><td>Group:</td><td>#catlist#</td></tr>
				<tr><td>Is Group ?</td><td><input type="checkbox" name="isgroup" value="1" id= "isgroup"></td></tr>
				<!-- <tr><td>Is Link ?</td><td><input type="checkbox" name="islink" value="1" id= "islink"></td></tr> -->
				</table></td>	
                        <td style="text-align:left;width:50%" valign="top">
				<table style="background-color:transparent;"><tr style ="border-bottom:1px solid #000"><td>Group</td>
					<td style="text-align:center">Can Read</td><td style="text-align:center">Can Post</td>
					<td style="text-align:center">Can Reply</td>
					<td style="text-align:center">Can Moderate</td>	
			</tr>
			<tr>
				<td>Banned</td>
				<td style="text-align:center"><input type="checkbox" name="banread" value="1" id= "banread"></td>
				<td style="text-align:center"><input type="checkbox" name="banpost" value="1" id= "banpost"></td>
				<td style="text-align:center"><input type="checkbox" name="banrep" value="1" id= "banrep"></td>
				<td style="text-align:center"><input type="checkbox" name="banmod" value="1" id= "banmod"></td>

			</tr>

			<tr>
				<td>Guests</td>
				<td style="text-align:center"><input type="checkbox" name="guestread" value="1" id= "guestread"></td>
				<td style="text-align:center"><input type="checkbox" name="guestpost" value="1" id= "guestpost"></td>
				<td style="text-align:center"><input type="checkbox" name="guestrep" value="1" id= "guestrep"></td>
				<td style="text-align:center"><input type="checkbox" name="guestmod" value="1" id= "guestmod"></td>

			</tr>
			<tr>
				<td>Members</td>
				<td style="text-align:center"><input type="checkbox" name="memberread" value="1" id= "memberread"></td>
				<td style="text-align:center"><input type="checkbox" name="memberpost" value="1" id= "memberpost"></td>
				<td style="text-align:center"><input type="checkbox" name="memberrep" value="1" id= "memberrep"></td>
				<td style="text-align:center"><input type="checkbox" name="membermod" value="1" id= "membermod"></td>
			</tr>
			<tr>
				<td>Moderators</td>
				<td style="text-align:center"><input type="checkbox" name="modread" value="1" id= "modread"></td>
				<td style="text-align:center"><input type="checkbox" name="modpost" value="1" id= "modpost"></td>
				<td style="text-align:center"><input type="checkbox" name="modrep" value="1" id= "modrep"></td>
				<td style="text-align:center"><input type="checkbox" name="modmod" value="1" id= "modmod"></td>
			</tr>
			<tr><td colspan="4">Admins have full permissions, but if you don't check the boxes no one will be able to see this category</td></tr>
			</table>
                        </tr>
			<tr style ="border-bottom:1px solid #000"><td colspan="2">&nbsp</td></tr>
			
			 
			<tr><td colspan="8"><center><button name="action" id="action" type="submit" class="button">Add</button><button name="action" id="quit" value="quit" type="submit" class="button" >
Quit </button></center></td></tr>
			</td>
			</tr>
			
			
		 </form>
                                </tr>
                            </table>                    
                        </div>
			
	<script>
		$('#quit').click(function() {
      		//navigate to Home;
		message = 'Quit !';
		alertify.alert(message);
		return false;
		
});	
		$('#action').click(function() {
			cat_name = $('#cat_name').val().length;
			isgroup = $('#isgroup').is(":checked");
			groupid = $('#groupid').val();
			action = $ ('#action').val();
			action1= $ ('#quit').val();


if (cat_name == 0) {
message = 'Category Name can not be blank';
alertify.alert(message);
return false;
}

if (isgroup == false && groupid == 0) {

message = 'This Category needs a group or needs to be a group<br>Please retry';
alertify.alert(message);
return false
}
			
return true;
		});
	</script>
                    
                
                </div></div>
            </div>
            <div id="sidebar" class="yui-b">

                <!-- Sidebar block (same markup as basic block) -->
                <div class="block">
                    <div style="text-align:center">
                        <h2 style="font-weight:bold">Category Statistics</h2>
                    </div>
                    <div style="padding-left:2%">
                        <p>Total Groups #groups#</p>
			<p>Total Categories #cats#</p>
                        <p>Total Threads #topics#</p>
			<p>Total Posts #posts#</p>  
                    </div>
                </div>

              
               


        </div>

        <div>
            #footer#
            
        </div>

    </div>
</body>
</html>
