<!-- do we use an odd file extension -->
			
			</div>
			
		
			<div id="copyright" style= "padding-left:2%;float:left;color:#999;font-weight:bold;clear:both;">
				
Powered By <a href="http://yoursite.noideersoftware.co.uk/" target="_blank">Your Site (#device#)</a>, &copy; #start_year# - #copy_year# <a href="http://noideersoftware.co.uk/" target="_blank">NoIdeer Software</a>. 
<br />Content &copy; KB Racing, #copy_year#
				

<br class="clear" />

		
		<br/>
		</div>
<div style="float:right;padding-right:2%;color:#999;">#adminstats#</div> 
<!-- DST correction do not remove -->
<div style="display:none" id="dst">1</div>
      <br />

