<head>
<title>#title#</title>
#include#
</head>
#header#
</div></div> 
 <div class="col">
                                <div class="cell panel">
                                    <div class="body">
                                        <div class="cell">
                                            <div class="col">
                                                <div class="cell tab-block top-nav">
                                                    <div class="tabs">
                                                        <ul class="nav">
                                                            <li class="active"><a href="#tabcontent1">Profile</a></li>
                                                            <li><a href="#tabcontent2">Forum</a></li>
                                                            <li><a href="#shopoffer">Comunication</a></li> 
                                                            <li><a href="#tab3">Shop</a></li>
                                                        </ul>
                                                    </div>

<div class="tab-content" style="min-height:600px">
<div class="cell" id="tabcontent1">
                            
                              <form action="usercp.php" method="post">
<input type="hidden" name="my_post_key" value="#nid#" />
<div class="col width-fill"><h3 style="text-align:center">Profile Options</h3>

<div class="col width-4of4">
		<div class="cell" style="float:left"><label style="min-width:74px">Nick Name</label><input type ="text" name="nick" class="text"></div>
	<div class="col width-2of4" style="float:left">
		<div class= "cell"><label><u>this is not your user name</u> (this can not be changed) but if filled in any content you post will assume this name</label></div>
	</div>

</div>
<div class ="col width-4of4">
	<div class="cell" style="float:left"><label>Date Of Birth</label><select id="day" style="width:38%">
          <option value="">Day</option></select></div>
        <div class="cell" style="float:left"><select id="month" style="width:100%">
          <option value="">Month</option><option value ="12">September</option></select></div>
        <div class="cell" style="float:left"><select id="year" style="width:100%">
          <option value="">Year</option></select></div>  
       <div class="cell" style="float:left"> <label>This is <u>not</u> optional set the privicy level below (coppa compliance)</label></div> 
</div>
<div class ="col width-4of4">
	<div class="cell" style="float:left"><label style="min-width:68px">Privicy</label></div>
         <div class="cell" style="float:left"><select id="priv" style="width:100%">
          <option value="0">Hide</option>
          <option value ="1">Age Only</option>
          <option value="2">Day/Month</option>
          <option value="3">Full</option> 
         </select>
        </div>
          
       <div class="cell" style="float:left"> <label>Set how your date of birth is displayed</label></div> 
</div>
</div>
</div>
<div id="tabcontent2" class="cell hidden-tab">
<div class ="col width-4of4">
	<div class="cell" style="float:left"><label style="min-width:68px">Show Forums in tabs</label></div>
         <div class="cell" style="float:left">
         <input type="checkbox" style="margin-top:8px" name="tabs" value="Bike">
          
        </div>
</div>
</div>
<div id="tab3" class="cell hidden-tab">There are no current settings</div>
</div>

</div>


 <div class="col">
 <div class="col width-fill"></div>
<div class="col width-fill">
<div class="cell" style="text-align:center" >
<input type="hidden" name="action" value="do_options" />
<button type="submit" class="button" name="regsubmit">#update_options#</button>
</div></div> 
</form> 
</div>
#footer#
