<head>
	#include#
	<title>Tab Editor</title>
	<script src="/js/ckeditor.js"></script>
</head>
#header#
<div style="background:#2D3538;overflow:hidden;">
	<!-- add the editor -->
	<div style="width:85%;margin-top:4%;">
	 <form method="POST">
            <textarea class="ckeditor" style="100%;" name="reply-content" id="editor1" >#cat_description#</textarea>
            <input type ="hidden" name = "cat_id" value = "#cat_id#" id= "cat_id">
            <input type ="hidden" name = "save" id="save" value="save">
     </form>
	</div>
</div>

#footer#

