<!-- do we use an odd file extension -->
			<br />
			<div class="bottommenu">
				
				<div>
					<span class="smalltext"><a href="{$mybb->settings['contactlink']}">Contact</a> | <a href="{$mybb->settings['homeurl']}">Home</a> | <a href="#top">Top</a></span>
				</div>
			</div>
			</div>
		<hr class="hidden" />
			<div id="copyright" style= "padding-left:2%;">
				
Powered By <a href="http://noideersoftware.co.uk/" target="_blank">Your Site</a>, &copy; 2012-2014 <a href="http://noideersoftware.co.uk/" target="_blank">NoIdeer Software</a>.<br />
				<!-- End powered by -->
				<br />
<br class="clear" />

		</div>
		<br/>
		</div>
      <br />
