<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>#title#</title>#include#
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
    <link rel="stylesheet" href="css/yuiapp.css" type="text/css">
    <link id="theme" rel="stylesheet" href="css/aqua.css" type="text/css"> 
    <script src="http://yui.yahooapis.com/3.0.0pr2/build/yui/yui-min.js" type="text/javascript"></script>
    <script src="js/yuiapp.js" type="text/javascript"></script>
#reload#
</head>
#header#

        <div id="bd">
            <div id="yui-main">
                <div class="yui-b"><div class="yui-g">
                                     

                    <!-- Basic block with tabs -->
                    <div class="block tabs">
                        <div class="hd">
                            <h2>Fake Header For SEO Purposes</h2>
                            <ul>
                                
                                <li class="active tab" abbr="tc1"><a href="#">YourSite Ideals</a></li>
                                <li class="tab" abbr="tc2"><a href="#">Code Ideas</a></li>
                                <li class ="tab" abbr="tc3"><a href="#">Development</a></li>
                               <!--
                                <li class ="tab" abbr="tc4"><a href="#">Tab 4</a></li>
                                <li><a href="#">Tab 5</a></li>
                                <li><a href="#">Tab 6</a></li> -->
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="bd">
                             <div id="tc1" class="content">
                            <h3>YourSite</h3>
                            <p>This software is being developed to enable web site owners to manage a dynamic web site using a html editor and some special tags</p>
                            <p>YourSite is modular so you can create a new folder on your web site, and a default page will be created and added to your site menu. With this you can produce pages that suit you with your html editor.<br />NoIdeer Software have some default modules such as forums and a shop, which are easy to install to your web site</p> 
                            </div>
                             <div id="tc2" class="content">
                            <h3>Code Ideas</h3>
                            <p>YourSite uses two methods of producing variables for your dynamic templates 
				<ul>
					<li>Static - these variables are added to a simple text file on your web server</li>
					<li>Dynamic - these variables are created 'on the fly' by the module, there will be instruction (soon) on how to create a module</li>
					<li>This allows the web site owner to add customised content to the site users</li> 
                                        <li>currently YourSite has no admin contol panel so all edits are through text files on the web server</li> 
</ul>
 </p>
                            
                            </div>
                             <div id="tc3" class="content">
                            <h3>Development</h3>
                            <p>#newposts#
			   </p>
                            
                            </div>
                        </div>
                    </div>

                                     

                    
                   
                   
                </div></div>
            </div>
            <div id="sidebar" class="yui-b">

                <!-- Sidebar block (same markup as basic block) -->
              
                
                <div class="block">
                    <div class="hd">
                       <h3> Side Boxes</h3> 
                    </div>
                    <div class="bd">
                    Side boxes will have a side box manager and not just be HTML, you will be able to add scripts or not show any side boxes
                    </div>
                </div>

<div class="block">
                    <div class="hd">
                       <h3> Online Users</h3> 
                    </div>
                    <div class="bd">
                    we have #vari# online 
                    </div>
                </div>
                
                
            </div>
        </div>

        <div id="ft">
            <p class="inner">Copyright &copy; 2014 NoIdeer Software </p>
            
        </div>

    </div>
</body>
</html>
