  <!-- Start editorx -->
  <html style="height:100%;">
 <head> 
<title>YourSite Editor X</title>
<!-- start include.tmpl -->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<link rel="stylesheet" href="/css/alertify.core.css">
<link rel="stylesheet" href="/css/alertify.default.css" id="toggleCSS">
<script src="/cascade/assets/js/app.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
 <script src="/js/alertify.min.js" type="text/javascript"></script>	
<!-- <script  type="text/javascryoursite2/ipt" src="http://localhost/yoursite2/jquery.ui.datepicker.js"></script>
<script src="http://localhost/yoursite2/js/jquery.colorbox.js"></script> --> 
 <script src="/js/ckeditor.js"></script>
<script src="/js/editor.js" /></script>  
<script src="/js/3.js"></script>   
<link rel="stylesheet" type="text/css" media="all" href="/cascade/assets/css/cascade/development/build-full.css">
<link rel="stylesheet" type="text/css" media="all" href="/cascade/assets/css/site.css">
        <!--[if lt IE 8]><link rel="stylesheet" href="assets/css/cascade/production/icons-ie7.min.css"><![endif]
                  [if lt IE 9]><script src="assets/js/shim/iehtmlshiv.js"></script><![endif]-->
              
       
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
<!-- end include.tmpl -->
	     	   
  </head><body style="background:#2D3538;min-height:600px;">
        <div style="background:#2D3538;min-height:600px;overflow:hidden;">
        <div class="header collapse-trigger">
              <span>
                  <div style="float:left;padding:0.5%;background:#000;color:#fff;width:100%;"><strong>Reply</strong></div>
             </span>
            </div>
            <h3 style="padding:1%;">Reply Stuff</h3>
 				<div class="panel cell"  style="width:58%;float:left;">
					<form method="post" action="../reply.php" id = "input">
					   <input type = "hidden" id="test" value ="#topic_id#" name="topic_id">
					   <input type = "hidden" id="test" value ="#cat_id#" name="cat_id">
    					<textarea class="ckeditor" style="100%;" name="reply-content" id="editor1" ></textarea>
				</div> 	
            <div style="float:left;width:40%">
					<div style="padding:4% 1% 0%;vertical-align:top;">
							<h6>Post Options </h6>
			      </div>
               <div style="color:#999;padding:1% 3%;">
                   <input style="width:auto;margin-right:1%;" type="radio" name="option" checked="1" value="instant">Subscribe and receive an email notification of each new reply
               </div>
               <div style="color:#999;padding:1% 3%;">
                  <input style="width:auto;margin-right:1%;" type="radio" name="option" value="2">Weekly Update - receive an email every week if a new reply is made to this thread
              </div>
              <div style="color:#999;padding:1% 3%;">
                  <input style="width:auto;margin-right:1%;" type="radio" name="option" value="3">Do not subscribe
             </div>
             <div style="padding-left:1%; vertical-align:top;">
                  <h6>Attachments</h6>
             </div>
             <div style="color:#999;">
                  <div id="attach" style="padding-left:3%; padding-top:1%">
                        None
                  </div>
             </div>
            </div>
   			<div id="reply1" style="padding:1%;float:left;clear:both;">
                 <input type="hidden" name="username" id="username" value="#warn#" />
                 <input type="hidden" name= "cat_id" id="cat_id" value="#cat_id#" /> 
			        <button type="submit" class="button" name="btnlogin" id="input1">Reply</button>
						
				</div>
					</form>
      
				<div style="float:left;padding-top:1%;margin-left:-0.5%;">
				     <button class="button" onclick="Alert()" id="attachbtn" file-id="../user6.txt">Attach</button>
				     <button class="button" onclick="windowclose()" />Close</button>  
		      </div>		
        </div>
	  			<script src="/js/editor.js" /></script>  
					  <!-- end editor -->
					  <br>
</body>
 <script>
     $(document).ready(
            function() {
                 //alert("test");
                 var editor = CKEDITOR.instances.editor1;
                 var input = $('#editor1');
                 var cat = $('#cat_id');
                 var topic = $('#test');
                 ptopic = parent.$('#test').val();
                 //input.val('new stuff')
                 pcatid= parent.$('#cat_id').val();
                 //alert(pcatid);
                //alert ("p topic = "+ptopic); 
                 cat.val(pcatid);
                 topic.val(ptopic);
                 var quote = parent.$('#editor3').val();
                 quote = input.val()+quote;
               
                 //editor.insertHtml(quote);
                 //alert (editor.val());
                   input.val(quote);         
                   checkatt();

});
function windowclose() 
{
var editor = CKEDITOR.instances.editor1;
//alert(editor.getData());
editdata = editor.getData();
var input = parent.$('#editor3');
input.val(editdata);
//alert(input.val());
var stat = parent.$("#message");
stat.attr("fred","0");
stat.html("message not posted, but still there");
//alert(stat.attr("fred"));
parent.$.colorbox.close();
}
</script>          					  
</html>