
<table style="border:none;width:100%;"> 
<tr style="border:none;background:#2D3538;color:#999;">
<td style="width:30%;border:none;;float:left;"><a href="category.php?id=#cat_id##tab#" class="tip3">
<span><div style="margin-top:0px;padding:2px;">#cat_description# </div></span>
<div style="float:left;width:100%;padding:5px;"><img style="max-width:100px;max-height:100px;" src="#icon#" /></div></a>
</td> 
<!--<td style="width:40%"><h3><a href="category.php?id=#cat_id##tab#"> #cat_name#
</a></h3></td>-->
<td style="width:40%;border:none;">#threads# Item(s)</td>
</tr>
</table>



