<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html style= "background:#2D3538;;">
<head>
    <title>#title#</title>#include#
    <link rel="stylesheet" href="#path#/css/colorbox.css" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <link href="/vibracart/vibracartstyle2.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/vibracart/settingsstyle2.js"></script>
<script type="text/javascript" src="/vibracart/sarissa.js"></script>
<script type="text/javascript" src="/vibracart/vibracart.js"></script>
</head>
<body>
#header#
                 
                             <div class="col" style="float:left;width:100%;">
                                <div class="cell panel" style="background:#2D3538;;min-height:100%;border:none;box-shadow:none;">
                                   <div class="col">
                                      <div class="cell tab-block top-nav">
                                          <div class="tabs">
                                             <ul class="nav">
                                                  #tab#
                                              </ul>
                                           </div> 
                                              <div class="tab-content colorborder" style="min-height:100%;background:#2D3538;width:100%;float:left;">
                                                 #rowd#
                                              </div>
                                                   	</div>
                                                   </div>
									</div>
                            </div>
     
    
        <br>
    <div style="clear:both;">
 <!-- PayPal Logo --> 
    #footer#
    </div>
    
    <script>
      $(document).ready(
            function() {
                $(".iframe").colorbox({iframe:true, width:"85%", height:"85%", overlayClose: false, escKey:false});
               
            });
</script>
<!--<script language="javascript" type="text/javascript">
startcart()
</script> -->            
</body>
</html>
         
