<!DOCTYPE html>
<html style="background:#fff ;">
<head>
<meta charset="utf-8" />
<title></title>
#include#
</head>
<body style="background:#fff;">
<h3 style="background:#fff;"><center>Add Attachment</center></h3>
<form method="post" action="attach.php"  enctype="multipart/form-data"><p style="border:1 solid black;padding:1%;">
<input  style ="width:99%" type ="file" #attrib# id="file" name="attach"></input></p><div style="float:left;margin-left:42%;">
<button type="submit" class="button" name="btnattach" #attrib# id="input1">Add</button></div>
<div style="float:left;margin-left:1%"><button type="submit" name="btnclear">Clear</button></div>
</form>
<div style="float:left;margin-left:1%"><button onclick="filetypes()">Allowed types</button></div><br style="clear:both">
<p><center>Current Attachments #total# (max 2)</center></p>
<div style="margin-top:-3%;clear:both;">#attachments#</div>
<script>
function submitFunction(i) {
   if (i==1) document.theForm.action=
      "http://www.company.com/cgi-bin/cgi1.cgi";
   if (i==2) document.theForm.action=
      "http://www.company.com/cgi-bin/cgi2.cgi";
   if (i==3) document.theForm.action=
      "http://www.company.com/cgi-bin/cgi3.cgi";
   document.theForm.submit()
   }
	</script>
</body>
</html>