<!DOCTYPE html>
<html>
<head>
<title>#title#</title>
        #include# 
<link rel="stylesheet" href="#path#/css/colorbox.css" />
<script>
			$(document).ready(function(){
				//Examples of how to assign the Colorbox event to elements
				
				$(".iframe").colorbox({iframe:true, width:"85%", height:"85%", overlayClose: false, escKey:false});
			        
			});
		</script> 
</head>
    #header#
                     
          
                <div class="site-center">
                    
                    
                    
                </div>
            </div>
        </div>
       
        </div>
        
                            <div class="col">
                                <div class="cell panel">
                                    <div class="body">
                                        <div class="cell">
                                            <div class="col">
                                                <div class="cell tab-block top-nav">
                                                    <div class="tabs">
                                                        <ul class="nav">
                                                            <li class="active"><a href="#tabcontent1">Latest News</a></li>
                                                            <li><a href="#tabcontent2">Forum Posts</a></li>
                                                            <li><a href="#shopoffer">Shop Offers</a></li> 
                                                            <li><a href="#servers">Servers</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="tab-content" style="min-height:600px">
                                                        <div class="cell" id="tabcontent1">
                                                             <h3>News</h3><hr />
                            					New staff members<br />
Posted by: Shaun - 28-08-2014 12:17 AM<br />
New comrades<br>


Please congratulate @Monster_M3 and @jcmbainbridge they're now Traine Administrators, and will be helping you on the server. Don't worry they will be moderated by my self and @Sloth.<br />
<br>  Regarding spam bots<br>
Posted by: Shaun - 20-08-2014 03:13 AM<br>
Regarding the inappropriate spam bots; the forums recently has become a bit of a breeding ground for spam bots. With Google constantly indexing, and bing being bing. We've seen a increase in<br> spam bots. Why are spam bots good ?, well when they sign up they boost our ranking. Why are they bad ?, because they post none productive advertisements for the 3rd parties there set<br> to echo. In attempt to mitigate the spam attacks I have had reCAPTCHA with aKISMET API implemented in to the website. You should see no more of these said spam bots now.

                                                        </div>
                                                        <div class="cell hidden-tab" id="tabcontent2">
                                                            <h3>Latest Forum Posts</h3><hr />#newposts#
                                                        </div>
                                                       <div class="cell hidden-tab" id="servers">
                                                               <h3>Our Servers</h3><hr />
                                                                <table> <tr><td width="1%">
<iframe id="a" src="http://cache.www.gametracker.com/components/html0/?host=37.122.211.130:27015&bgColor=333333&fontColor=CCCCCC&titleBgColor=222222&titleColor=FF9900&borderColor=555555&linkColor=FFCC00&borderLinkColor=222222&showMap=1&currentPlayersHeight=100&showCurrPlayers=1&topPlayersHeight=100&showTopPlayers=1&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="536"></iframe></td>
<td width="1%">
<iframe id= "b" src="http://cache.www.gametracker.com/components/html0/?host=37.122.211.130:27016&bgColor=333333&fontColor=CCCCCC&titleBgColor=222222&titleColor=FF9900&borderColor=555555&linkColor=FFCC00&borderLinkColor=222222&showMap=1&currentPlayersHeight=100&showCurrPlayers=1&topPlayersHeight=100&showTopPlayers=1&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="536"></iframe></td>
<td width="1%">
<iframe id="c" src="http://cache.www.gametracker.com/components/html0/?host=37.122.211.130:25565&bgColor=333333&fontColor=CCCCCC&titleBgColor=222222&titleColor=FF9900&borderColor=555555&linkColor=FFCC00&borderLinkColor=222222&showMap=1&currentPlayersHeight=100&showCurrPlayers=1&topPlayersHeight=100&showTopPlayers=1&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="536"></iframe></td>
<td width="1%">
<iframe id= "d1" src="http://cache.www.gametracker.com/components/html0/?host=37.122.211.130:27017&bgColor=333333&fontColor=CCCCCC&titleBgColor=222222&titleColor=FF9900&borderColor=555555&linkColor=FFCC00&borderLinkColor=222222&showMap=1&currentPlayersHeight=100&showCurrPlayers=1&topPlayersHeight=100&showTopPlayers=1&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="536"></iframe></td>
<td width="1%">
<iframe id = "e1" src="http://cache.www.gametracker.com/components/html0/?host=37.122.211.130:27019&bgColor=333333&fontColor=CCCCCC&titleBgColor=222222&titleColor=FF9900&borderColor=555555&linkColor=FFCC00&borderLinkColor=222222&showMap=1&currentPlayersHeight=100&showCurrPlayers=1&topPlayersHeight=100&showTopPlayers=1&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="536"></iframe></td>
</tr>
<tr><td><iframe id ="e2" src="http://cache.www.gametracker.com/components/html0/?host=37.122.211.130:27045&bgColor=333333&fontColor=CCCCCC&titleBgColor=222222&titleColor=FF9900&borderColor=555555&linkColor=FFCC00&borderLinkColor=222222&showMap=1&currentPlayersHeight=100&showCurrPlayers=1&topPlayersHeight=100&showTopPlayers=1&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="536"></iframe></td>
<td><iframe id= "e3"src="http://cache.www.gametracker.com/components/html0/?host=81.19.208.23:2300&bgColor=333333&fontColor=CCCCCC&titleBgColor=222222&titleColor=FF9900&borderColor=555555&linkColor=FFCC00&borderLinkColor=222222&showMap=1&currentPlayersHeight=100&showCurrPlayers=1&topPlayersHeight=100&showTopPlayers=1&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="536"></iframe></td>
<td><iframe id="e4" src="http://cache.www.gametracker.com/components/html0/?host=37.122.211.130:27035&bgColor=333333&fontColor=CCCCCC&titleBgColor=222222&titleColor=FF9900&borderColor=555555&linkColor=FFCC00&borderLinkColor=222222&showMap=1&currentPlayersHeight=100&showCurrPlayers=1&topPlayersHeight=100&showTopPlayers=1&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="536"></iframe></td>
<td><iframe id="e5" src="http://cache.www.gametracker.com/components/html0/?host=37.122.211.130:7757&bgColor=333333&fontColor=CCCCCC&titleBgColor=222222&titleColor=FF9900&borderColor=555555&linkColor=FFCC00&borderLinkColor=222222&showMap=1&currentPlayersHeight=100&showCurrPlayers=1&topPlayersHeight=100&showTopPlayers=1&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="536"></iframe></td>
<td><iframe id= "e6" src="http://cache.www.gametracker.com/components/html0/?host=37.122.211.130:2302&bgColor=333333&fontColor=CCCCCC&titleBgColor=222222&titleColor=FF9900&borderColor=555555&linkColor=FFCC00&borderLinkColor=222222&showMap=1&currentPlayersHeight=100&showCurrPlayers=1&topPlayersHeight=100&showTopPlayers=1&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="536"></iframe></td>
</tr>
</table>
                                                       </div> 
                                                        <div id="shopoffer" class="cell hidden-tab">
                                                                 <h3>The Store is not configured</h3><hr />
                                                       </div> 
                                                    </div>
                                                </div>
                                            </div>
        <div class="site-body">
            
                            </div>
        </div>

        
        </div>
        <div class="site-footer">
            <!-- <div class="site-center">
                <div class="cell">
                  
                    <a href="index.html" class="powered-by"></a>
                </div> -->
            </div> 
        </div>
#footer#
</div>
             
   <script>
      $(document).ready(
            function() {
                setInterval(function() {
                                                     
                                    loadframe (a);
                                    loadframe (b);
                                    loadframe (c);
                                    loadframe (d1);
                                    loadframe (e1);
                                    loadframe (e2);
                                    loadframe (e3);  
                                    loadframe (e4);
                                    loadframe (e5);    
                                       
 
               }, 300000);
            });
</script>
    </body>
</html>
