<html>
      <head>
#include#
        <link rel="stylesheet" type="text/css" media="all"  href="#path#/cascade/assets/css/cascade/development/build-full.css" />
        <link rel="stylesheet" type="text/css" media="all"  href="#path#/cascade/assets/css/site.css" />
      </head>
      #header#
<div class="col" style = "float:left;width:86%;">
  <div class="cell">
    <div class="body">
      <div class="cell">
       <div class="col">
                	                       
	  <h3><center>Admin Control Panel</center></h3>

	           <div class="cell width-2of4 colorborder" style="padding:1%;float:right;width:35%;min-height:80%;">
                     <h6 style="text-align:center;">Site Statistics</h6>
                     
                     <table class="cell " style="background:transparent;color:#999;font-weight:bold;">
                            <tr>
                                  <td>Software Version</td><td style="color:green;font-weight:bold;">#ver#</td>
                            </tr>
                            
                            <tr>
                                 <td>Disk Space Used</td><td style="color:green;font-weight:bold;">#df#</td>
                            </tr> 
                            <tr>
                                 <td>Total Directories</td><td style="color:green;font-weight:bold;">#pt#</td>
                            </tr> 
                            <tr>
                                 <td>Total Files</td><td style="color:green;font-weight:bold;">#ds#</td>
                            </tr>
                           <tr>
                                 <td>Modules Installed</td><td style="color:green;font-weight:bold;">#mod#</td>
                           </tr>   
                              <tr>
                                 <td>PHP Version</td><td style="color:green;font-weight:bold;">#php#</td>
                           </tr>    
                            
                           <tr>
                                 <td>SQL Version</td><td style="color:green;font-weight:bold;">#sql#</td>
                           </tr> 
                          <tr>
                                 <td>Server OS</td><td style="color:green;font-weight:bold;">#os#</td>
                           </tr> 
                         <tr>
                                 <td>Server Load</td><td style="color:green;font-weight:bold;">#load#</td>
                           </tr>    
                         <tr>
                                 <td>Database Size</td><td style="color:green;font-weight:bold;">#dbs#</td>
                           </tr>    
                         <tr>
                                 <td>Database Free Space</td><td style="color:green;font-weight:bold;">#dbs1#</td>
                           </tr>    
                         <tr>
                                 <td>Max Post Size</td><td style="color:green;font-weight:bold;">#postsize#</td>
                           </tr>  
                         <tr>
                                 <td>Max Upload Size</td><td style="color:green;font-weight:bold;">#upsize#</td>
                           </tr>   
                         <tr>
                                 <td>Users Online</td><td style="color:green;font-weight:bold;">#uol#</td>
                           </tr>         
                     </table>  
                   </div>

                   <div class="cell colorborder width-1of4" style="padding:1%;float:left;">
                      <h6 style="text-align:center;">General</h6>
                      <a class="iframe" href = "admin.php?action=turnstatus" title = "turn the site on or off" >On/Off Line</a><span style="float:right;color:#stat#" class="icon icon-16 icon-circle"></span> 
                      <p style = "margin-bottom: 0px;"><a class="ajax" href="create_area.php?action=edit">Date & Time</a></p>
                      <a class="ajax" href="test.php">Plugins</a><br>
                     <a class="ajax" href="test.php">Settings</a>
                       
                   </div>

                  <div class="cell colorborder width-1of4" style="padding:1%;float:left;">
                     <h6 style="text-align:center;">User Control</h6>
                     <a class="iframe" href = "create_area.php">Ban Someone</a>
                     <p style = "margin-bottom: 0px;"><a class="ajax" href="index.php">View Banned List</a></p>
                     <a class="ajax" href="test.php">Disallowed Names & Emails</a><br>
                     <a class="iframe" href = "create_area.php">Create a User</a>
                     <p style = "margin-bottom: 0px;"><a class="ajax" href="index.php">Delete a User</a></p>
                     <a class="ajax" href="test.php">List Users</a>
                  </div>

                  <div class="cell colorborder width-1of4" style="padding:1%;clear:left;float:left">
                    <h6 style="text-align:center;">Module Options</h6>
                    <a class="iframe" href = "create_area.php">Disable a Module</a>
                    <p style = "margin-bottom: 0px;"><a class="ajax" href="index.php">Uninstall a Module</a></p>
                    
                    <p><a class="ajax" href="test.php">Settings</a></p>
                  </div>

                  <div class="cell colorborder width-1of4" style="padding:1%;float:left;">
                     <h6 style="text-align:center;">Server</h6>
                     <a class="iframe" href = "create_area.php">Cron</a>
                     <p style = "margin-bottom: 0px;"><a class="ajax" href="index.php">Update</a></p>
                     <a class="ajax" href="test.php">Etc.</a>
                  </div>

                  <div class="cell colorborder width-1of4" style="padding:1%;clear:left;float:left">
                     <h6 style="text-align:center;">Page Options</h6>
                     <a class="iframe" href = "create_area.php">Tab/Block Editor</a>
                     <p style = "margin-bottom: 0px;"><a class="ajax" href="index.php">Content Editor</a></p>
                     <a class="ajax" href="test.php">Show in tabs</a>
                  </div>

                  <div class="cell colorborder width-1of4" style="padding:1%;float:left;">
                     <h6 style="text-align:center;">Uploads</h6>
                     <a class="iframe" href = "create_area.php">File Types</a>
                     <p style = "margin-bottom: 0px;"><a class="ajax" href="index.php">File Max Size</a></p>
                     <a class="ajax" href="test.php">File Folder</a>
                  </div>
      </div>
   </div>
  </div>
 </div>
</div>
#footer#
</html>
