<!DOCTYPE html>
<!-- dynamic tab version 01-04-2015 -->
<html>

<head>
<title>#title#</title>
        #include# 
<!-- <script type="text/javascript" src="#path#/js/jssor.js"></script>
 <script type="text/javascript" src="#path#/js/jssor.slider.js"></script>-->
 <script type="text/javascript">
 $(document).ready(function($){
  setInterval('updateServerClock()', 1000);
           
    });
 </script>  
  
</head>
    #header#
        #msg# 
                        
                            <div class="col" style="float:left;width:100%;">
                                <div class="cell panel" style="box-shadow:none;border:none;" >
                                <!--<div id="sclock" class="clock">#datetime#</div> --> 	
                                    <div class="cell tab-block top-nav" >
                                                    <div class="tabs">
                                                        <ul class="nav">
                                                        #tabs#
                                                        </ul>
                                                    </div>
                                                    
                                                    <div class="tab-content colorborder" style="min-height:600px;">
                                                     
                                                          #tab_content#
                                                    </div>
        						
                                              	
						#footer#
						</div>
<script>
      $(document).ready(
            function() {
                $(".iframe").colorbox({iframe:true, width:"85%", height:"85%", overlayClose: false, escKey:false});
               
            });
</script>
<!--<script async type="text/javascript" src="#path#/js/slider.js"></script>-->

    </body>
</html>
